<style>
    .errorMessage {
        color: red;
    }
</style>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="SearchInfo"  placeholder="Search....." aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-primary" type="button" id="button-addon1" onclick="NK.ManageServiceProvider.reloadServiceProvider()">
                <span class="fa fa-search"></span>
            </button>
            <button class=" btn btn-danger me-1" type="button" id="button-addon2" onclick="NK.ManageServiceProvider.refreshServiceProvider()">
                <span class="fa fa-refresh"></span>
            </button>

            <button class="btn btn-success" type="button" id="button-addon2" data-bs-toggle="modal" data-bs-target="#myModal">
                <span class="fa fa-plus"></span>Add New
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div id="StudentTableContainer"></div>
</div>
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Service Provider Information.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <select class="form-control" id="ServiceRole" name="ServiceRole">
                                <option>Select Role</option>
                            </select>
                            <input type="text" id="UserloginInfoId" hidden name="UserloginInfoId" class="form-control" placeholder="">
                            <div style="margin-top: 3px;" id="MessageServiceServiceRole" class="errorMessage"></div>
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" placeholder="Full name" id="FullName" name="FullName"  />
                            <div style="margin-top: 3px;" id="MessageFullName" class="errorMessage"></div>
                        </div>

                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="User name" id="UserName" name="UserName" />
                            <div style="margin-top: 3px;" id="MessageUserName" class="errorMessage"></div>

                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Phone Number" id="PhoneNumber" name="PhoneNumber" />
                            <div style="margin-top: 3px;" id="MessagePhoneNumber" class="errorMessage"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" id="Email" name="Email" />
                            <div style="margin-top: 3px;" id="MessageEmail" class="errorMessage"></div>
                        </div>
                        <div class="col">
                            <select class="form-control" id="Nationality" name="Nationality">
                                <option>Select Country</option>
                            </select>
                            <div style="margin-top: 3px;" id="MessageNationality" class="errorMessage"></div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col">
                            <input type="password" class="form-control" placeholder="Password" id="Password" name="Password" />
                            <div style="margin-top: 3px;" id="MessageConfirmPassword" class="errorMessage"></div>
                        </div>
                        <div class="col">
                            <input type="password" id="RePassword" name="RePassword" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col">
                            <input type="text" readonly id="Dob" name="Dob" class="form-control" placeholder="mm/dd/yyyy">
                            <div style="margin-top: 3px;" id="MessageDob" class="errorMessage"></div>
                        </div>
                        <div class="col">
                            <div class="row" style="width:200px; margin-left:100px;">
                                <img id="blah" src="~/images/default.png" alt="your image" style="height:200px;" width="200px" class="img-thumbnail" />
                            </div>
                            <div class="row" style=" margin-left: 100px;">

                                <button onclick="NK.ManageServiceProvider.ImageLoader()" style="width:200px;" class="btn btn-success">
                                    <span class="fa fa-upload"></span>Upload Image
                                </button>
                                @*<input type="button" onclick="NK.ManageServiceProvider.ImageLoader()" style="width:200px;" class="btn btn-success" name="" value="Upload Image"/>*@
                                <input type='file' id="imgInp" onchange="NK.ManageServiceProvider.readURL(this)" hidden />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="NK.ManageServiceProvider.save();">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SpecilaityAndServicesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Offerd Speciality</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               @* <input type="checkbox" id="SelectAllAvailableServicesSpeciality" name="SelectAllAvailableServicesSpeciality" onclick="NK.ManageCategory.selectAll(this)" class="" style="height:18px; width:18px; " /> <label style="font-size:18px;">All</label>*@
            </div>
            <div class="modal-body">
                <div class="container">
                    <ul id="OfferdData" class="list-group">
                     
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="NK.ManageServiceProvider.SaveServiceProviderSpeciality();">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="linksAction" hidden>
    <a href='#' class='fa fa-pencil-square-o fa-lg lnkEditSP'></a>
    <a href='#' class='fa fa-bars fa-lg linksActionSP' style="margin-left:10px;"></a>
    @*data-bs-toggle="modal" data-bs-target="#SpecilaityAndServicesModal"*@
</div>
<div class="Custom" hidden>
    <ul>
        <li class="list-group-item dataItem catli" style="font-size:18px;">
            <input class=""  type="checkbox" id="" name="checkbox" style="height:18px; width:18px;" />
            <label class="CatTxtTitle"></label>
            <ul class="SpecilaityList ">
               
            </ul>
        </li>
    </ul>
</div>

<div class="Custom2" hidden>
    <ul>
        <li class="list-group-item dataItem" style="border:none">
            <input class="" CatTypeId="" type="checkbox" id="" name="checkbox" style="height:15px; width:15px;" />
            <label class="SpTxtTitle"></label>
        </li>
    </ul>
</div>
@section Scripts{
    <script src=@Url.Content("~/culture/Hospital/ServiceProviderCulture.js")></script>
    <script src=@Url.Content("~/js/Hospital/ManageServiceProvider.js")></script>
}
