@{
    ViewBag.Title = "Manage Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Select Category</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Select Services/Speciality</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent" style="margin-top:20px;">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox" id="SelectAllAvailableCat" name="SelectAllAvailableCat" onclick="NK.ManageCategory.selectAll(this)" class="" style="height:18px; width:18px; " /> <label style="font-size:18px;">All</label>
                            </div>
                            <div class="col-md-10">
                                <h5 class="">
                                    Available Categories
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="">
                            <ul id="AvailableCat">
                            </ul>
                        </div>
                        <button type="button" class="btn btn-success fa-pull-right" onclick="NK.ManageCategory.AddOfferdCategoriesList()">
                            <span><i class="glyphicon glyphicon-ok"></i></span> Select Category
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <input type="checkbox" id="SelectAllOfferdCat" name="SelectAllAvailableCat" onclick="NK.ManageCategory.selectAll(this)" class="" style="height:18px; width:18px; " /> <label style="font-size:18px;">All</label>
                            </div>
                            <div class="col-md-10">
                                <h5 class="">
                                    Offerd Categories
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" id="">
                        <div>
                            <ul id="OfferdCat">
                            </ul>
                        </div>
                        <a href="#" class="btn btn-danger fa-pull-right" style="" onclick="NK.ManageCategory.removeOfferdCategoriesList()">Remove Categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-0">
                <a href="#" class="btn btn-primary fa-pull-right" style="margin-top:20px; margin-right:20px;" onclick="NK.ManageCategory.nextAction(2)">Save and Continue</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Offerd Categories</h5>
                    <div class="card-body" id="">
                        <div>
                            <ul class="CusContent" id="SelectedOfferdCat">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card divAvailableServicesSpeciality" hidden>
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="checkbox" id="SelectAllAvailableServicesSpeciality" name="SelectAllAvailableServicesSpeciality" onclick="NK.ManageCategory.selectAll(this)" class="" style="height:18px; width:18px; " /> <label style="font-size:18px;">All</label>
                                    </div>
                                    <div class="col-md-10">
                                        <h5 class="" id="AvailableServicesSpeciality">
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="">
                                <div>
                                    <ul class="CusContent" id="AvailableService">
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-success fa-pull-right" style="" onclick="NK.ManageCategory.addOfferdList()" id="SelectServicesSpeciality"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card divOfferdServicesSpeciality" hidden>
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="checkbox" id="SelectAllOfferdServicesSpeciality" name="SelectAllOfferdServicesSpeciality" onclick="NK.ManageCategory.selectAll(this)" class="" style="height:18px; width:18px; " /> <label style="font-size:18px;">All</label>
                                    </div>
                                    <div class="col-md-10">
                                        <h5 class="" id="OfferdServicesSpeciality">
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="">
                                <div>
                                    <ul class="CusContent" id="OfferdService">
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-danger fa-pull-right" style="" onclick="NK.ManageCategory.removeOfferdList()" id="RemoveServicesSpeciality"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-0">
                <a href="#" class="btn btn-primary fa-pull-right" style="margin-top:20px; margin-right:20px;" onclick="NK.ManageCategory.nextAction(3)">Save</a>
                <a href="#" class="btn btn-primary fa-pull-right" style="margin-top:20px; margin-right:20px;" onclick="NK.ManageCategory.previousAction(1)">previous</a>
            </div>
        </div>
    </div>
</div>
<div class="Custom" hidden>
    <ul>
        <li class="list-group-item dataItem" style="font-size:18px;">
            <input class="chkCategory" CatTypeId="" type="checkbox" id="checkbox" name="checkbox" style="height:18px; width:18px;" />
            <label class="txtTitle"></label>
            <input name="" id="" type="text" style="width:100px;" class="ServicePrice" hidden disabled />
            <input name="" id="" type="text" style="width:100px;" class="FinalServicePrice" hidden />
            <input type="button" id="SaveService" name="" class="btn btn-success SaveService" onclick="NK.ManageCategory.saveSingleService(this)" value="Save" hidden />
        </li>
        <li class="list-group-item servicedataItem" style="font-size:18px;"></li>
    </ul>
</div>
@section Scripts{
    <script src=@Url.Content("~/js/Hospital/ManageCategory.js")></script>
}