@font-face {
  font-family: 'SFProText-Semibold';
  src: url('SFProText-Semibold.eot');
  src: url('SFProText-Semibold.eot?#iefix') format('embedded-opentype'),
       url('SFProText-Semibold.svg#SFProText-Semibold') format('svg'),
       url('SFProText-Semibold.ttf') format('truetype'),
       url('SFProText-Semibold.woff') format('woff'),
       url('SFProText-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

