
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/sign-ar.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <title>Patient Registration</title>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="login-form">
                    <div class="form-area">
                        <div class="formrow justify-content-between heading w-100">
                            <div class="text-center mx-auto">
                                <span class="img">
                                    <img src="~/images/NARAAKUM-01.png" alt="" class="d-block" />
                                </span>
                                <span class="d-block" id="login-heading">أهلاً بك! يرجى تسجيل الدخول أو إنشاء حساب جديد</span>
                            </div>
                        </div>
                        <!--end of d-flex-->
                        @Html.Partial("~/Views/PartialViews/_Login.cshtml")
                    </div><!--end of form-erea-->
                    <div class="footer-area">
                        <div id="div-CopyRights" class="formrow mt-5 copyright text-center justify-content-center"><span class="copy-right">
                            جميع الحقوق محفوظة نارآكم </span><span class="mathfont"> @@@DateTime.Now.Year </span>
                        </div><!--end of formrow-->
                    </div>
                    <!--end of footer-area-->
                </div>
                <!--end of register-form-->
            </div>
            <!--end of col-5-->
            <div class="col-lg-7 p-0 img-area mt-3 mt-lg-0">
                <img src="~/images/login-img.png" class="img-fluid" alt="" />
            </div>
        </div>
        <!--end of row-->
    </div><!--end of container-fluid-->
</body>
</html>
@section Scripts{
    <script src=@Url.Content("~/js/User/UserLogin.js")></script>
    <script src=@Url.Content("~/culture/User/LoginCulture.js")></script>
<script>
    $(document).ready(function () {
        let loggedInUser = NK.Common.getLoggedInUser();
        if (loggedInUser != null && loggedInUser != "") {
            window.location.href = "../";
        }
    });
</script>
}