
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id" content="910644427880-6c65u68f14md2bda9lafg1idn5e5lej9.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <title>Patient Registration</title>
    <style>
        .errorMessage {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 p-0 img-area"><img src="~/images/register-img.jpg" class="img-fluid" alt="" /></div>
            <div class="col-lg-5">
                <div class="register-form">
                    <div class="formrow justify-content-between heading w-100">
                        <div class="text-center"><span class="img"><img src="~/images/NARAAKUM-01.png" alt="" class="d-block" /></span><span class="d-block" id="FormHeading">Please Register Your Info</span></div>
                        <div class="text-center"><span class="img"><img src="~/images/upload-img.png" alt="" class="d-block" /></span><span class="d-block" id="ImageHeading"><a href="#">( Upload Photo )</a></span></div>
                        <input type="file" id="PatientImage" name="PatientImage" hidden />
                    </div><!--end of d-flex-->
                    <div class="formrow mt-4">
                        <input type="text" class="form-control" placeholder="Full Name" id="FullName" maxlength="20" />
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageFullname" class="errorMessage"></div>
                    <div class="formrow mt-4">
                        <input type="text" class="form-control" placeholder="User Name" id="UserName" maxlength="20" />
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageUserName" class="errorMessage">
                        @*   <span class="fa fa-warning" style="color:red" id="messageUserName"></span>*@
                    </div>

                    <div class="formrow mt-4">
                        <input type="number" class="form-control" placeholder="Phone Number" id="PhoneNumber" />
                    </div><!--end of formrow-->
                    <div style="margin-top: 3px;" id="MessagePhoneNumber" class="errorMessage"></div>


                    <div class="formrow mt-4">
                        <input type="text" class="form-control" placeholder="Email" id="Email" maxlength="30" />
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageEmail" class="errorMessage"></div>
                    <div class="formrow mt-4">
                        <select class="form-control" id="Nationality" name="Nationality">
                            <option id="NationalityTitle">Select Country</option>
                        </select>
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageNationality" class="errorMessage"></div>

                    <div class="formrow mt-4">
                        <input type="text" readonly id="Dob" name="Dob" class="form-control" placeholder="mm/dd/yyyy">
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageDob" class="errorMessage"></div>

                    <div class="formrow mt-4">
                        <input type="password" class="form-control" placeholder="Password" id="Password" maxlength="10" />
                    </div><!--end of formrow-->
                    <div class="formrow mt-4">
                        <input type="password" class="form-control" placeholder="Retype Password" id="RePassword" maxlength="10" />
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessageConfirmPassword" class="errorMessage"></div>

                    <div class="formrow mt-4">
                        <input type="checkbox" class="mr-3" id="TermCondition" /> <span id="TermConditionTitle">I Agree With Terms & Conditions</span>
                    </div><!--end of formrow-->
                    <div style="margin-top: 1px;" id="MessagetermCondition" class="errorMessage"></div>

                    <div class="formrow mt-4 text-center">
                        <button type="submit" id="SignUp" onclick="NK.UserRegistration.registerPatient();">Sign up</button>
                    </div><!--end of formrow-->
                    <div class="formrow mt-5 border-top social-register pt-3 flex-wrap">
                        <span>OR</span>
                        <a href="#" class="fb mb-2" onclick="NK.SocialAccount.FBLogin()"><i class="fa-brands fa-facebook-f"></i> Sign Up with Facebook</a>
                        <a href="#" class="google" id="customBtn"><i class="fa-brands fa-google-plus-g"></i> Sign Up with Google</a>
                    </div><!--end of formrow-->
                    <!--<div class="formrow mt-4 text-center">-->

                    <div class="formrow mt-5 login text-center justify-content-center">
                        <span class="mt-4" id="AlreadyAccount">Already Have an Account ? <a href="#" id="AlreadyLogin">Login</a></span>
                    </div><!--end of formrow-->
                    <div class="formrow mt-4 copyright text-center justify-content-center">
                        All Rights Are Save Nar'aakum@2022
                    </div><!--end of formrow-->
                </div><!--end of register-form-->
            </div><!--end of col-5-->
        </div><!--end of row-->
    </div><!--end of container-fluid-->
</body>
</html>
@section Scripts{
    <script src=@Url.Content("https://apis.google.com/js/api:client.js")></script>
    <script src=@Url.Content("~/js/User/UserRegistration.js")></script>
    <script src=@Url.Content("~/culture/User/PatientRegistrationCulture.js")></script>
    <script src=@Url.Content("~/js/User/SocialAccountRegistration.js")></script>
}