<!doctype html>
@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>Verify User</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 p-0 img-area"><img src="~/images/register-img.jpg" class="img-fluid" alt="" /></div>
            <div class="col-lg-5">
                <div class="register-form">
                    <div class="formrow justify-content-between heading w-100 flex-wrap">
                        <div class="text-center w-100"><span class="img"><img src="~/images/NARAAKUM-01.png" alt="" class="d-block" /></span><span class="d-block" id="MessageHeading">Please Enter Code Sent To Your Mobile Number</span></div>
                        <div><span>0111*******43 </span><a href="#" id="BtnChange">Change</a></div>
                    </div><!--end of d-flex-->
                    <div class="formrow code mt-5 justify-content-between">
                        <input type="text" class="form-control" id="UserId" hidden value="@ViewBag.UserId" />

                        <input type="text" class="form-control" id="Code1" placeholder="0" maxlength="1" />
                        <input type="text" class="form-control" id="Code2" placeholder="0" maxlength="1" />
                        <input type="text" class="form-control" id="Code3" placeholder="0" maxlength="1" />
                        <input type="text" class="form-control" id="Code4" placeholder="0" maxlength="1" />
                        <input type="text" class="form-control" id="Code5" placeholder="0" maxlength="1" />

                    </div><!--end of formrow-->
                    <div class="formrow mt-4 text-center">
                        <button type="submit" onclick="NK.UserVerification.verifyUser();" id="BtnConfirm">CONFIRM</button>
                    </div><!--end of formrow-->
                    <div class="formrow mt-5 login text-center justify-content-center">
                        <span class="mt-4" ><span id="NotReceivedHeading">I Didn't Received a Message Yet..</span> <a href="#" onclick="NK.UserVerification.resendCode();" id="ResendCode">Resend Code</a></span>
                    </div><!--end of formrow-->
                    <div class="formrow mt-5 login text-center justify-content-center">
                        <span class="mt-4" id="AlreadyAccount">Already Have an Account ? <a href="#" id="btnLogin">Login</a></span>
                    </div><!--end of formrow-->
                    <div class="formrow mt-4 copyright text-center justify-content-center">
                        All Rights Are Save Nar'aakum@2022
                    </div><!--end of formrow-->
                </div><!--end of register-form-->
            </div><!--end of col-5-->
        </div><!--end of row-->
    </div><!--end of container-fluid-->
</body>
</html>
@section Scripts{
    <script src=@Url.Content("~/culture/User/VerifyUserCulture.js")></script>
    <script src=@Url.Content("~/js/User/VerifyUser.js")></script>
}





