
@{
    ViewData["Title"] = "Specialities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="SpecialityTemplate" style="display:none;">
    <div class="col-lg-4 col-md-6 col-12 mb-2">
        <a href="#" id="_SpecialityId" onclick="NK.ShowSpecialities.onSpecialityClick(this)" data-bs-toggle="modal" data-bs-target="#GoogleMapModal">
            <img _Specialityimage alt="" >
        </a>
    </div>
    @*<label>
            <input type="checkbox" id="_SpecialityId" onchange="NK.ShowSpecialities.onSpecialitySelection(this)" />
            <img _Specialityimage alt="" />
            <h3>_headerTitle</h3>
            <p>_description</p>
        </label>*@

</div>
<div id="SpecialityCartTemplate" style="display:none;">
    <div class="dv_singleCart">
        <Label>_headerTitle</Label>
        <input type="button" value="<" class="decreaseCartQuantity" />
        <input type="text" id="_SpecialityId" class="cartQuantity" value="_cartValue" />
        <input type="button" value=">" class="increaseCartQuantity" />
        <label class="deleteSpecialityFromCart">x</label>
    </div>

</div>
@section Scripts{
    <script src=@Url.Content("~/js/Shared/Tools/_GoogleMap.js")></script>
    <script src=@Url.Content("~/js/Service/ShowSpecialities.js")></script>
}

<div class="breadcrumbs">
    <div class="container-fluid border-top border-bottom py-3">
        <h2 class="d-inline-flex pr-4 mr-4">العيادة الطبية المنزلية</h2>
        <a href="#" class="d-inline-flex"><img src="~/images/home.png" alt="" /></a>
        <span class="breadcrumbs-separator d-inline-flex mx-3"><img src="~/images/chevrons-right.png" alt="" /></span>
        <span>العيادة الطبية المنزلية</span>
    </div>
    <!--end of container-fluid-->
</div>
<!--end of breadcrumbs-->
<div class="content mt-5 d-flex" id="content">
    <div class="container-fluid">
        <div class="mb-5 row bahas">
            <div class="col-auto mb-2">
                <h6 class="text-dark">ما الذى تبحث عنه</h6>
                <p class="mb-0">مثال : التخصص المطلوب أو الخدمة المطلوبة</p>
            </div>
            <div class="col-auto text-center">
                <a href="">بحث</a>
            </div>
        </div>
        <!-- end of bahas row -->
        <div class="row mb-5 ListOfSpeciality">
            
            <!-- end col-4 -->
        </div>
        <!-- end col-4 -->

    </div>
    <!--end of container-fluid-->
</div>
<div>
    <div id="dv_cart">

    </div>

    @*<button id="btnNext" type="button" style="display:none;" data-bs-toggle="modal" data-bs-target="#GoogleMapModal">Submit</button>*@

    @Html.Partial("~/Views/Shared/Tools/_GoogleMap.cshtml")

</div>