
@{
    ViewData["Title"] = "Hospitals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/Service/hospital.css" rel="stylesheet" />*@
<link href="~/css/index-ar-login-15.css" rel="stylesheet" />
<link href="~/css/login-partial-view.css" rel="stylesheet" />
<div>
    <div>

    </div>

</div>

<div id="HospitalsTemplate" style="display:none;">
    @*<label>
            <img _hospitalimage alt="" style="width:120px;" />
            <h3>_headerTitle</h3>
            <p>_description</p>
        </label>*@
    <!-- col-md-12 -->
    <div class="col-md-12 my-3">
        <div class="d-flex justify-content-between align-items-center flex-wrap single-hosital" style="cursor:pointer">
            <div class="col-lg-auto col-12">
                <img _hospitalimage alt="" class="bahasdocimg">
            </div>
            <div class="col px-5">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="mb-2">
                        <h5>_headerTitle</h5>
                        <span>التخصص: طب باطنى ورعاية حرجه</span>
                    </div>
                    <div>
                        <span>اللغة : عربي إنجليزي</span> <br>
                        <span>الخبرة : 12 سنوات</span>
                    </div>
                    <div>
                        <span>مدة الأستشارة</span> <br>
                        <span> 15 دقيقة</span>
                    </div>
                </div>
                <div class="my-4">
                    <p>
                        _description
                    </p>
                </div>
                <div class="bahasbtns mb-2">
                    <a href="#" class="text-dark ms-2 arrow-right">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                    <button>08:00 ص</button>
                    <button>08:00 ص</button>
                    <button>08:00 ص</button>
                    <button class="active">08:00 ص</button>
                    <button>08:00 ص</button>
                    <button>08:00 ص</button>
                    <a href="#" class="text-light">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-auto col-12">
                <div class="d-flex flex-column align-content-between flex-wrap">
                    <div class="mb-5">
                        <h2 class="mb-0 font-weight-bold">162.025</h2>
                        <span>ريال سعودي</span>
                    </div>
                    <div>
                        <span>مركز الدكتور <br> بسام الطبي</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<ul id="HospitalCartTemplate" style="display:none;">
    <li class="list-group-item px-0 dv_singleCart">
        <div class="d-flex p-0 align-items-center">
            <img src="~/images/cartdelbtn.svg" class="cartdelbtn" alt="">
            <p>_headerTitle</p>
        </div>
        <div class="col-auto">
            <i class="fa fa-plus"></i>
            <span id="_ServiceId" class="mx-2 enfont cartQuantity fw-bold">_cartValue</span>
            <i class="fa fa-minus"></i>
        </div>
    </li>
</ul>


<div class="breadcrumbs">
    <div class="container-fluid border-top border-bottom py-3">
        <h4 class="d-inline-flex pr-4 mr-4">الاقسام</h4>
        <a href="#" class="d-inline-flex"><img src="~/images/home.png" alt="" /></a>
        <span class="breadcrumbs-separator d-inline-flex mx-3"><img src="../images/chevrons-right.svg" alt="" /></span>
        <span>استشارة طبية</span>
    </div>
    <!--end of container-fluid-->
</div>
<!--end of breadcrumbs-->
<div class="content mt-5 d-flex" id="content">
    <div class="container-fluid">
        <div class="mb-5 row bahas">
            <div class="col-auto mb-2">
                <h6 class="text-dark">ما الذى تبحث عنه</h6>
                <p class="mb-0">مثال : التخصص المطلوب أو الخدمة المطلوبة</p>
            </div>
            <div class="col-auto text-center">
                <a href="">بحث</a>
            </div>
        </div>
        <!-- end of bahas row -->
        <div class="row mb-5 flex-wrap">
            <div class="col-lg-3 col-12">
                <h4 class="mb-5">تصنيف البحث</h4>
                <div>
                    <h6>السعر</h6>
                    <ul class="list-unstyled p-0">
                        <li>
                            <input type="radio" name="rdHospitalOrder" id=""> جميع الاسعار
                        </li>
                        <li>
                            <input type="radio" name="rdHospitalOrder" id=""> الأعلى إلى الإقل
                        </li>
                        <li>
                            <input type="radio" name="rdHospitalOrder" id=""> الأقل إلى الأعلى
                        </li>
                    </ul>
                </div>
                <h6 class="my-4">فرز الأطباء حسب الساعة المحددة</h6>
                <h6 class="mb-4">من الساعة</h6>
                <div class="search">
                    <button class="timebtn">00 : 00</button>
                    <button class="mrnbtn">صباحاً</button>
                    <button class="evebtn">مساءً</button>
                </div>
                <h6 class="my-4">حتى الساعة</h6>
                <div class="search">
                    <button class="timebtn">00 : 00</button>
                    <button class="mrnbtn">صباحاً</button>
                    <button class="evebtn">مساءً</button>
                </div>
                <div class="my-3">
                    <button class="tehdeesbtn">تحديث</button>
                </div>
            </div>
            <!-- end of col-3 -->
            <div class="col-lg-9 col-12 bahasresult border-left">
                <div class="row">
                    <div class="col-md-12 my-3">
                        <div class="row m-0 justify-content-between align-items-center">
                            <div class="col-lg-5 mb-3">
                                <h4 class="mb-4">نتائج البحث</h4>
                                <div class="serchboxbhas">
                                    <select class="form-select bg-transparent border-0"
                                            aria-label="Default select example">
                                        <option selected>ترتيب على حسب الجنس / ذكور</option>
                                        <option value="1">One</option>
                                    </select>
                                </div>
                            </div>
                            <div class="calender col-lg-7 mb-3">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="d-flex justify-content-between align-items-center mb-2 px-3">
                                            <div>
                                                <button class="primary-btn">هجري</button>
                                            </div>
                                            <div>
                                                <a href="" class="text-decoration-none">
                                                    <img src="~/images/anglerightblue.svg" alt="">
                                                </a>
                                                <span class="mx-3">2022 مايو</span>
                                                <a href="" class="text-decoration-none">
                                                    <img src="~/images/angleleftblack.svg" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <button class="primary-btn">ميلادي</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="ms-2">
                                                <a href="" class="text-decoration-none">
                                                    <img src="~/images/anglerightblue.svg" alt="">
                                                </a>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">السبت</h6>
                                                <h5>19</h5>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">الأحد</h6>
                                                <h5>20</h5>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">الاثنين</h6>
                                                <h5>21</h5>
                                            </div>
                                            <div class="text-center dates active">
                                                <h6 class="mb-2">الثلاثاء</h6>
                                                <h5>22</h5>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">الاربعاء</h6>
                                                <h5>23</h5>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">الخميس</h6>
                                                <h5>24</h5>
                                            </div>
                                            <div class="text-center dates">
                                                <h6 class="mb-2">الجمعه</h6>
                                                <h5>25</h5>
                                            </div>
                                            <div class="me-2">
                                                <a href="" class="text-decoration-none">
                                                    <img src="~/images/angleleftblack.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto col-lg-2">
                                        <div class="cart">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle text-decoration-none" href="#" role="button"
                                                   id="dropdownMenuLink" data-bs-toggle="dropdown"
                                                   aria-expanded="false">
                                                    <img src="../images/Treatmentwhite.svg" alt="">
                                                </a>

                                                <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuLink">
                                                    <li>
                                                        <ul class="list-group list-group-flush" id="dv_cart">
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Hospital*@
                    <div class="ListOfHospitals">

                    </div>

                </div>
            </div>
            <!-- end of col-md-9 -->
        </div>
        <!-- end of loginservices -->
    </div>
    <!--end of container-fluid-->
</div>
<!--end of content-->
<div class="modal fade text-dark show" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="login-form">
                    <span style="color: #B1B6C0; font-size:15px;">
                        مرحبا بعودتك! يرجى تسجيل الدخول إلى حسابك
                    </span>
                    @Html.Partial("~/Views/PartialViews/_Login.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src=@Url.Content("~/js/Service/ShowHospitals.js")></script>
    <script src=@Url.Content("~/js/User/UserLogin.js")></script>
    <script src=@Url.Content("~/culture/User/LoginCulture.js")></script>
}