@font-face {
  font-family: 'SFProText-Heavy';
  src: url('SFProText-Heavy.eot');
  src: url('SFProText-Heavy.eot?#iefix') format('embedded-opentype'),
       url('SFProText-Heavy.svg#SFProText-Heavy') format('svg'),
       url('SFProText-Heavy.ttf') format('truetype'),
       url('SFProText-Heavy.woff') format('woff'),
       url('SFProText-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

