<div class="caption-list">
    <h4 class="my-3 text-light">أقسام الخدمات و الباقات المنزلية</h4>
    <div class="row m-0 text-center Listofcategories">
    </div>
    <!--end of row-->
</div>

<!--<div class="content mt-5 d-flex" id="content">
    <div class="container-fluid">
        <h2 id="healthcare" class="d-flex w-100 my-5">Services &amp; Packages</h2>
        <div class="service-package d-flex w-100 mb-5 flex-wrap">
            <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="service-tab" data-bs-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">Services</a>
                </li>-->
                @*<li class="nav-item" role="presentation">
            <a class="nav-link" id="package-tab" data-bs-toggle="tab" href="#package" role="tab" aria-controls="package" aria-selected="false">Packages</a>
        </li>*@
            <!--</ul>
            <div class="tab-content mt-5 w-100" id="myTabContent">
                <div class="tab-pane fade show active w-100" id="service" role="tabpanel" aria-labelledby="service-tab">
                    <div class="w-100" id="elem">
                        <div id="outer">
                            <div id="inner" class="Listofcategories">
                            </div>

                        </div>
                        <div id="left-button"><a href="javascript:void(0)">→</a></div>
                        <div id="right-button"><a href="javascript:void(0)">←</a></div>
                    </div>
                </div>--><!--end of service tab-->
               
            <!--</div>--><!--end of tab-content-->
        <!--</div>--><!--end of service-package-->

    <!--</div>--><!--end of container-fluid-->
<!--</div>--><!--end of content-->

@*// ************* Templates **************@

<div id="CategoryTemplate" style="display:none;">
    <div class="col">
        <label onclick="NK.ListOfCategories.CategoryDisplayWRTTypeId('_CategoryId', '_DisplayTypeId')">
            <img _CateogryImage alt="" />
            <h3>_headerTitle</h3>
            @*<p>_description</p>*@
        </label>
    </div>
</div>

<div id="CategorySpecialityTemplate" style="display:none;">
    <div class="card mb-3" style="max-width: 540px; float: left; margin: 0 10px 0 0; " id="_SpecialityId" data-DisplayTypeId="_DisplayTypeId">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img _SpecialityImage class="card-img" style="width: 150px;" alt="...">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">_headerTitle</h5>
                    <p class="card-text text-wrap hidden-md">_description</p>
                </div>
            </div>
        </div>
    </div>
</div>


@*// ************* Modals **************@
<div class="modal fade" id="SpecialitiesModal" tabindex="-1" role="dialog" aria-labelledby="SpecialitiesLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>*@
            <div class="modal-body">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_map">
                        <div class="col-lg-12 col-md-12" id="Listofcategoryspecialities">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 modal_body_end">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




