<style>
    .img-service {
        width: 66px;
        margin: 0 0px 0 40px;
    }

    div.services-template {
        margin-left: 30px !important;
        /*  width: 365px !important;
        flex: 0 0 365px !important;*/
        background: #FFF !important;
        color: #0F0F0F !important;
        border-radius: 15px !important;
        white-space: normal !important;
        /*  box-shadow: 0px 10px 40px #e5e9f666 !important;
        padding: 20px 30px !important;
        line-height: 28px !important;*/
    }
</style>
<!--<div class="content mt-5 d-flex" id="content">
    <div class="container-fluid">
        <h2 id="healthcare" class="d-flex w-100 my-5">Services</h2>
        <div class="service-package d-flex w-100 mb-5 flex-wrap">
            <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">Services</a>
                </li>
            </ul>
            <div class="tab-content mt-5 w-100" id="myTabContent">
                <div class="tab-pane fade show active w-100" id="service" role="tabpanel" aria-labelledby="service-tab">
                    <div class="w-100" id="elem">
                        <div id="outer">
                            <div id="inner" class="Listofservices">
                            </div>


                        </div>
                        <div id="service-left-swap-button" class="left-swap-button"><a href="javascript:void(0)">→</a></div>
                        <div id="service-right-swap-button" class="right-swap-button"><a href="javascript:void(0)">←</a></div>
                    </div>
                </div>--><!--end of service tab-->

                <!--<input type="button" class="btn btn-info" value="View More" onclick="NK.ListOfServices.redirectToShowServices();" />
            </div>--><!--end of tab-content-->
        <!--</div>--><!--end of service-package-->

    <!--</div>--><!--end of container-fluid-->
<!--</div>-->
<!--end of content-->
@*// ************* Templates **************@

<div id="ServicesTemplate" style="display:none;">
    <div class="services-template" data-toggle="modal">
        @*onclick="NK.ListOfServices.CategoryDisplayWRTTypeId('_ServiceId', '_DisplayTypeId')"*@
        <img _ServiceImage class="img-service" alt="" />
        <h3>_headerTitle</h3>
    </div>

</div>
