<div class="formrow mt-5">
    <input type="text" class="form-control" id="txtUsername" placeholder="البريد الالكتروني أو رقم الجوال" />
</div>
<div style="margin-top: 1px;" id="ErrorMessageUsername" class="errorMessage"></div>
<!--end of formrow-->
<div class="formrow mt-4">
    <input type="password" class="form-control" id="txtPassword" placeholder="كلمة المرور" />
</div>
<div style="margin-top: 1px;" id="ErrorMessagePassword" class="errorMessage"></div>
<!--end of formrow-->
<div class="formrow mt-4 justify-content-between align-items-center">
    <div>
        <input type="checkbox" id="ckbRememberMe" class="" /><span class="me-2">تذكرني مجدداً</span>
    </div>
    <div><a href="#" class="text-decoration-none text-muted" id="linkForgotPassword">نسيت كلمة المرور ؟</a></div>
</div>
<!--end of formrow-->
<div class="formrow mt-5 text-center justify-content-between">
    <button id="btnLogin" onclick="NK.UserLogin.loginUser()" type="submit">تسجيل الدخول</button>
    <a class="border-btn" href="~/User/Register" id="linkToRegisteration">حساب جديد</a>
</div>
<!--end of formrow-->