
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

        </li>
        <li class="nav-item">
            <a class="nav-link btn text-light" href="#">احجز الآن</a>
        </li>
        <li class="nav-item c-o not-loggedin-item hide">
            <a class="nav-link c-primary" href="/User/Login"><img src="../images/user-icon.svg" alt="" /> تسجيل الدخول</a>
        </li>
        <li class="nav-item c-o not-loggedin-item hide">
            <a class="nav-link c-primary" href="/User/Register"><img src="../images/unlock.svg" alt="" /> حساب جديد</a>
        </li>
        <li class="nav-item c-o loggedin-item hide">
            <a class="nav-link" href="#"><img src="~/images/Treatment.svg" alt=""></a>
        </li>
        <li class="nav-item dropdown c-o loggedin-item hide">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex justify-content-between align-items-center userinfo">
                    <div>
                        <img id="menuProfileImage" src="~/images/user.png" alt="" />
                    </div>
                    <div class="me-2 position-relative">
                        <p id="menuProfileName" class="m-0">أحمد كرم</p>
                        <small id="menuProfileNumber" class="enfont">+201111664236</small>
                    </div>
                </div>
            </a>
            <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown">
                <span></span>
                <li class="dropdown-item arithmetic"><a class="border-bottom d-block" href="#">حسابي</a></li>
                <li class="dropdown-item request"><a class="border-bottom d-block" href="#">طلباتي</a></li>
                <li class="dropdown-item favorite"><a class="border-bottom d-block" href="#">المفضلة</a></li>
                <li class="dropdown-item message"><a class="border-bottom d-block" href="#">محادثات الأطباء</a></li>
                <li class="dropdown-item beneficiarie"><a class="border-bottom d-block" href="#">المستفيدين</a></li>
                <li class="dropdown-item portfolio"><a class="border-bottom d-block" href="#">المحفظة</a></li>
                <li class="dropdown-item logout"><a class="d-block" href="#">تسجيل الخروج</a></li>
            </ul>
        </li>
        @*<li class="nav-item c-o loggedin-item hide">
            <a class="nav-link" href="#">
                <div class="d-flex justify-content-between align-items-center userinfo">
                    <div>
                        <img id="menuProfileImage" src="~/images/user.png" alt="">
                    </div>
                    <div class="me-2 position-relative">
                        <span></span>
                        <p id="menuProfileName" class="m-0">أحمد كرم</p>
                        <small id="menuProfileNumber">+201111664236</small>
                    </div>
                </div>
            </a>
        </li>*@
        @*<li class="nav-item c-o loggedin-item logout hide" title="logout">
            <a class="nav-link" href="#"><img src="~/images/logout.png" alt=""></a>
        </li>*@
        <li class="nav-item c-o loggedin-item hide">
            <a class="nav-link" href="#"><img src="~/images/bellno.svg" alt=""></a>
        </li>
        <li class="nav-item dropdown" id="language-dropdown">
        </li>
    </ul>
</div>

@*// *********** Menu Tmeplate **************@

<ul id="menu_template" style="display:none;">
    <li class="nav-item active">
        <a class="nav-link" _href>_titleMenu</a> @*asp-controller="Home" asp-action="Index"*@
    </li>
</ul>

<div id="PLanguage_template" style="display:none;">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false" data-value="_en">
        _titleLanague
    </a>
</div>
<div id="SLanguage_template" style="display:none;">
    <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-value="_en">
        <a class="dropdown-item" href="#">_titleLanague</a>
    </div>
</div>