#GoogleMapModal #map_canvas {
    height: 100%;
}

#GoogleMapModal #txtSearchLocation {
    width: 364px;
    padding: 5px;
    margin: 8px 8px 8px 11px;
}

#GoogleMapModal SearchLocation {
    width: 364px;
    padding: 5px;
    margin: 8px 8px 8px 11px;
}

#GoogleMapModal input#txtSearchLocation {
    padding: 12px;
    width: 450px;
    left: 23% !important;
    top: 2px !important;
}

#GoogleMapModal #txtRadious {
    padding: 8px;
    width: 70px;
    margin-left: 5px;
}

#GoogleMapModal #saveRadious {
    margin: 2px;
    padding: 8px;
}

#GoogleMapModal #dvRadious {
    padding: 5px 0 15px 15px;
}

#GoogleMapModal input.Marked_Location {
    padding: 6px 5px;
    margin: 5px;
}

.pac-container {
    z-index: 10000 !important;
}

#GoogleMapModal .btn-load-map {
    margin-top: 10px;
}
