@font-face {
  font-family: 'SFProText-Bold';
  src: url('SFProText-Bold.eot');
  src: url('SFProText-Bold.eot?#iefix') format('embedded-opentype'),
       url('SFProText-Bold.svg#SFProText-Bold') format('svg'),
       url('SFProText-Bold.ttf') format('truetype'),
       url('SFProText-Bold.woff') format('woff'),
       url('SFProText-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

