@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Light.eot');
	src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg'), url('../fonts/SFProText-Light.ttf') format('truetype'), url('../fonts/SFProText-Light.woff') format('woff'), url('../fonts/SFProText-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Regular.eot');
	src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg'), url('../fonts/SFProText-Regular.ttf') format('truetype'), url('../fonts/SFProText-Regular.woff') format('woff'), url('../fonts/SFProText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Medium.eot');
	src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Medium.svg#SFProText-Medium') format('svg'), url('../fonts/SFProText-Medium.ttf') format('truetype'), url('../fonts/SFProText-Medium.woff') format('woff'), url('../fonts/SFProText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Semibold.eot');
	src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg'), url('../fonts/SFProText-Semibold.ttf') format('truetype'), url('../fonts/SFProText-Semibold.woff') format('woff'), url('../fonts/SFProText-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Bold.eot');
	src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg'), url('../fonts/SFProText-Bold.ttf') format('truetype'), url('../fonts/SFProText-Bold.woff') format('woff'), url('../fonts/SFProText-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Heavy.eot');
	src: url('../fonts/SFProText-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Heavy.svg#SFProText-Heavy') format('svg'), url('../fonts/SFProText-Heavy.ttf') format('truetype'), url('../fonts/SFProText-Heavy.woff') format('woff'), url('../fonts/SFProText-Heavy.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi.ttf') format('truetype'),
		url('../fonts/DroidArabicKufi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg'), url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype'), url('../fonts/DroidArabicKufi-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

:root {
	--primary: #23A2A4;
	--reg: #646D82;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SFProText' !important;
	font-size: 13px !important;
	color: #333;
}

body.rtl {
	direction: rtl;
	font-family: 'DroidArabicKufi' !important;
	text-align: right;
	font-size: 13px !important;
}

.c-primary {
	color: var(--primary) !important;
}


/* ========== Numeric Font ============ */

.enfont {
	font-family: 'SFProText';
}

/* ========== End Numeric Font ============ */

/* ============ Footer ============= */

footer {
	background: var(--primary);
	padding-top: 60px;
	color: #FFF
}


footer .footercontent a {
	font-size: 18px;
	line-height: 40px;
	text-decoration: none;
}

footer .footercontent h6 {
	margin-right: 20px;
}

footer ul {
	color: #FFF;
	font-size: 20px;
	padding-left: 10px;
}


footer ul a {
	color: #FFF !important;
}

.bmc img {
	width: 165px;
	height: 156px;
}

/* ============ End Footer ============= */

.whatsapp {
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 1000
}

.chat {
	position: fixed;
	bottom: 50px;
	right: 90px;
	z-index: 1000;
}

.whatsapp img,
.chat img {
	width: 50px;
}


@media screen and (max-width:1522px) {}

@media screen and (max-width:1400px) {}

@media screen and (max-width:1300px) {}

@media screen and (max-width:1150px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:576px) {}