@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Light.eot');
	src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg'), url('../fonts/SFProText-Light.ttf') format('truetype'), url('../fonts/SFProText-Light.woff') format('woff'), url('../fonts/SFProText-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Regular.eot');
	src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg'), url('../fonts/SFProText-Regular.ttf') format('truetype'), url('../fonts/SFProText-Regular.woff') format('woff'), url('../fonts/SFProText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Medium.eot');
	src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Medium.svg#SFProText-Medium') format('svg'), url('../fonts/SFProText-Medium.ttf') format('truetype'), url('../fonts/SFProText-Medium.woff') format('woff'), url('../fonts/SFProText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Semibold.eot');
	src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg'), url('../fonts/SFProText-Semibold.ttf') format('truetype'), url('../fonts/SFProText-Semibold.woff') format('woff'), url('../fonts/SFProText-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Bold.eot');
	src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg'), url('../fonts/SFProText-Bold.ttf') format('truetype'), url('../fonts/SFProText-Bold.woff') format('woff'), url('../fonts/SFProText-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Heavy.eot');
	src: url('../fonts/SFProText-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Heavy.svg#SFProText-Heavy') format('svg'), url('../fonts/SFProText-Heavy.ttf') format('truetype'), url('../fonts/SFProText-Heavy.woff') format('woff'), url('../fonts/SFProText-Heavy.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi.ttf') format('truetype'),
		url('../fonts/DroidArabicKufi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg'), url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype'), url('../fonts/DroidArabicKufi-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

:root {
	--primary: #23A2A4;
	--reg: #646D82;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SFProText' !important;
	font-size: 13px !important;
	color: #333;
}

body.rtl {
	direction: rtl;
	font-family: 'DroidArabicKufi' !important;
	text-align: right;
	font-size: 13px !important;
}
.c-primary{
	color: var(--primary) !important;
}



/* ========  banner  ============ */

.banner a,
.bahas a {
	background: var(--primary) !important;
	width: 183px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	border-radius: 10px;
	border: none;
	display: inline-block;
	text-decoration: none
}

.banner {
	position: relative
}

.banner h1 {
	font-size: 45px;
	letter-spacing: 8px;
	margin-bottom: 30px;
}

.banner .bannersearch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background: #FFFFFF;
	padding: 12px;
	border-radius: 10px;
	width: 100%;
	max-width: 920px;
	margin: auto;
}

.banner .form-select {
	border-bottom: none !important;
	background: none;
}

.banner span {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	border-top-color: var(--primary);
	position: absolute;
	left: 5px;
	bottom: 15px;
}

.bannersearch .search {
	text-align: right;
	padding-right: 24px;
	border-right: 1px solid lightgrey;
}

.bannersearch .search p {
	color: #64676E;
}

body.rtl .banner h1 {
	letter-spacing: unset;
}

.carousel-caption {
	bottom: calc(50% - 160px)
}

/* ========  end banner  ============ */


/* ========  caption list  ============ */
.caption-list label {
	margin-left: 30px;
	width: 365px;
	flex: 0 0 365px;
	background: #FFF;
	color: #0F0F0F;
	border-radius: 15px;
	white-space: normal;
	box-shadow: 0px 10px 40px #e5e9f666;
	padding: 20px 30px;
	line-height: 28px;
}

.caption-list label {
	width: 100%;
	padding: 40px 0;
}

.caption-list {
	width: 100%;
	background: rgba(255, 255, 255, 0.50);
	/* margin-top: -220px; */
	margin-top: -100px;
	padding: 20px;
	/* padding: 100px 50px; */
	position: relative;

	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

.caption-list h3 {
	font-size: 14px;
}

.caption-list img {
	width: 77px;
	height: 72px;
	margin-bottom: 7px;
}



/* ========  end caption list  ============ */



/* ========  servicetree  ============ */

.servicetree .box {
	border-left: 1px solid #E6E6E7;
	padding: 40px;
	position: relative;
	height: 100%
}

.servicetree .box h3 {
	font-size: 30px;
}

.servicetree .box p {
	font-size: 13px;
	line-height: 28px;
	margin: 0;
	color: #64676E;
}

.servicetree .box span {
	padding-left: 40px;
	font-size: 32px;
	color: #23A2A4;
}

body.rtl .servicetree .box span {
	padding-left: 0;
	padding-right: 40px;
	font-family: 'SFProText'
}

.servicetree .col-md-4:last-child .box {
	border-right: 1px solid #E6E6E7;
}

body.rtl .servicetree .box {
	border-right: 1px solid #E6E6E7;
	border-left: 0;
}

.servicetree .box.top {
	border-bottom: 1px solid #E6E6E7;
}

.servicetree .box.top::before {
	content: "";
	width: 30px;
	height: 1px;
	background: #E6E6E7;
	left: 0;
	top: 0;
	position: absolute;
	display: block
}

body.rtl .servicetree .box.top::before,
body.rtl .servicetree .box.bottom::before {
	left: auto;
	right: 0
}

.servicetree .box.bottom::before {
	content: "";
	width: 30px;
	height: 1px;
	background: #E6E6E7;
	left: 0;
	bottom: 0;
	position: absolute;
	display: block
}

.servicetree .box::after,
.servicetree .col-md-4:last-child::after {
	content: "";
	width: 22px;
	height: 22px;
	background: #FFF;
	left: -12px;
	bottom: -12px;
	position: absolute;
	display: block;
	border: 2px solid var(--primary);
	border-radius: 50%;
	z-index: 99
}

body.rtl .servicetree .box::after,
body.rtl .servicetree .col-md-4:last-child::after {
	left: auto;
	right: -12px;
}

.servicetree .box.bottom::after,
.servicetree .col-md-4:last-child::after {
	top: -12px;
	bottom: auto
}

.servicetree .col-md-4:last-child::after {
	right: -12px;
	left: auto;
}

.servicetree .box h3+div {
	height: calc(100% - 40px);
}

.servicetree .box h3+div div {
	height: 100%;
}

/* ========  end servicetree  ============ */



/* ========  comingsoon and story  ============ */

.story,
.comingsoon {
	font-size: 16px;
	color: #4B4B4B;
	line-height: 40px;
}

.story h2,
.comingsoon h5,
.comingsoon h2 {
	color: #4B4B4B;
}

.comingsoon {
	line-height: 30px;
}

.comingsoon h5 {
	font-size: 22px;
	font-weight: normal
}

.comingsoon .dwnlimg {
	width: 150px;
	height: 60px;
	margin-bottom: 10px;
}

.comingsoon .appgallarybtn {
	height: 55px;
}

.story h2 {
	line-height: 60px;
	text-align: right;
}

.story h2 span {
	margin-right: 130px;
}

.story p {
	font-size: 14px;
	line-height: 37px;
}

.story a {
	background: var(--primary) !important;
	width: 183px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	border-radius: 10px;
	border: none;
	display: inline-block;
	text-decoration: none
}


body.rtl .story,
body.rtl .comingsoon {
	font-size: 18px;
	color: #64676E
}

/* ========  end comingsoon and story  ============ */


/* ============= articals ============= */

.artical .artical_content {
	background-color: #F8F8F8;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	border-radius: 24px;
}

.artical .articalhead a {
	text-decoration: none;
}

.artical .artical_content img {
	width: 218px;
	height: 250px;
}

.artical .artical_content a {
	position: absolute;
	padding: 10px 14px;
	left: 0;
	bottom: 0;
	color: #fff;
	background: #23A2A4;
	border-radius: 0px 0px 0px 24px;
}

.artical .artical_content a img {
	width: 18px;
	height: 25px;
}


.artical p {
	font-size: 12px;
	color: #64676E;
	opacity: 1;
}

/* ========== end artical =========== */



/* =========== Content =============== */

.content .container-fluid {
	max-width: 1280px
}

.content h2 {
	font-size: 30px;
	color: rgba(0, 0, 0, 1);
}

.content h3 {
	font-size: 20px;
}

/* ============ end Content =========== */


.whatsapp {
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 1000
}

.chat {
	position: fixed;
	bottom: 50px;
	right: 90px;
	z-index: 1000;
}

.whatsapp img,
.chat img {
	width: 50px;
}


.form-select {
	background-position: left !important;
	color: var(--reg);
}

.form-control,
.form-select {
	padding-left: 5px !important;
	padding-right: 5px !important;
	border: none !important;
	border-bottom: 2px solid #E9E9F0 !important;
	border-radius: 0 !important;
}


#outer,
#outer2 {
	/* float: left; */
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	padding: 10px 0 50px;
}

#left-button,
#left-button2,
.carousel-control-prev {
	float: right;
	width: 46px;
	height: 46px;
	text-align: center;
	color: #FFF;
	background: var(--primary);
	border-radius: 0 9px 9px 0;
	line-height: 46px;
	font-weight: bold;
	position: static;
	opacity: 1;
}

#left-button a,
#left-button2 a {
	color: #FFF !important;
	text-decoration: none
}

#right-button,
#right-button2,
.carousel-control-next {
	float: right;
	width: 46px;
	height: 46px;
	text-align: center;
	background: #DDDDDD;
	border-radius: 9px 0 0 9px;
	line-height: 46px;
	font-weight: bold;
	visibility: visible !important;
	position: static;
	opacity: 1;
}

#right-button a,
#right-button2 a {
	color: #000 !important;
	text-decoration: none
}

#inner,
#inner2 {
	display: flex;
}

#inner label:first-child,
#inner2 label:first-child {
	margin-left: 0;
}

#outer label,
#outer2 label,
.service-box {
	margin-left: 30px;
	width: 365px;
	flex: 0 0 365px;
	background: #FFF;
	color: #0F0F0F;
	border-radius: 15px;
	white-space: normal;
	box-shadow: 0px 10px 40px #e5e9f666;
	padding: 20px 30px;
	line-height: 28px;
}

.service-box {
	height: 100%;
	max-width: 100%;
	flex: 0 0 100%;
}

#outer label h3,
#outere2 label h3 {
	font-size: 22px;
	margin-bottom: 10px;
	margin-top: 15px
}

#outer label p,
#outer2 label p {
	margin-bottom: 0;
}

.hide {
	display: none;
}

body.rtl #left-button,
body.rtl #left-button2,
body.rtl #right-button,
body.rtl #right-button2 {
	float: left;
	transform: rotate(180deg);
}

a.scrolltocontent {
	background: none !important;
	position: absolute;
	left: calc(50% - 92px);
	bottom: 90px;
}



@media screen and (max-width:1522px) {
	nav.nav-lg a {
		padding: 0.5rem 20px !important
	}
}

@media screen and (max-width:1400px) {

	.story,
	.comingsoon {
		line-height: 40px;
	}

	.carousel-caption {
		bottom: calc(50% - 80px);
		left: 0;
		right: 0
	}

	nav.nav-lg a {
		padding: 0.5rem 15px !important;
	}
}

@media screen and (max-width:1300px) {

	.story,
	.comingsoon {
		line-height: 25px;
		font-size: 16px;
	}

	body.rtl .story,
	body.rtl .comingsoon {
		line-height: 23px;
		font-size: 14px;
	}

	.story h2 span {
		margin-right: 100px;
	}

	.banner h1 {
		font-size: 40px;
	}

	.content h2 {
		font-size: 24px;
	}

	.content h3 {
		font-size: 18px;
	}

	.servicetree .box h3 {
		font-size: 24px;
	}

	.servicetree .box {
		padding: 20px;
	}

	.servicetree .box p {
		font-size: 14px;
		line-height: 25px;
	}

	body.rtl .servicetree .box p {
		font-size: 12px
	}

	.servicetree .box span {
		padding-left: 20px;
		font-size: 24px;
	}

	body.rtl .servicetree .box span {
		padding-left: 0px;
		padding-right: 20px;
		font-size: 22px;
	}

	header .nav-lg .nav-item.c-o a,
	nav.nav-lg a {
		padding: 0.5rem 10px !important
	}

	header .nav-lg .nav-link.btn {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (max-width:1150px) {
	nav a {
		padding: 0.5rem 18px !important
	}

	header .nav-lg .nav-item.c-o a,
	nav.nav-lg a {
		padding: 0.5rem 7px !important;
		font-size: 13px;
	}
}

@media screen and (max-width:991px) {

	.artical .artical_content {
		flex-wrap: wrap;
		justify-content: start;
	}

	a.scrolltocontent {
		bottom: 30px;
	}

	.story h2 span {
		margin-right: 55px;
	}

}

@media screen and (max-width:767px) {
	.banner h1 {
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 5px;
	}

	.servicetree .box h3+div div {
		width: 100%
	}

	.artical .artical_content {
		flex-wrap: nowrap;
	}

	.artical .artical_content img {
		width: 158px;
		height: 170px;
	}

	.servicetree .col-md-4:last-child .box {
		border-right: 0;
	}

	body.rtl .servicetree .col-md-4:last-child .box {
		border-left: 0;
		border-right: 1px solid #E6E6E7
	}

	.servicetree .col-md-4:last-child::after,
	a.scrolltocontent {
		display: none
	}

	.servicetree .box.bottom {
		border-bottom: 1px solid #E6E6E7;
	}

	.carousel-caption {
		bottom: calc(50% - 100px);
	}

}

@media screen and (max-width:576px) {
	.banner img {
		min-height: 230px;
		object-fit: cover;
	}

	.banner h1 {
		font-size: 24px;
	}

	#outer label,
	#outer2 label {
		width: 100%;
		flex: 0 0 100%;
		margin-left: 0;
	}

	.artical_content h3 {
		font-size: 13px;
	}

	.artical_content p {
		font-size: 11px;
	}

	.artical_content .ms-5 {
		margin-left: 0 !important;
	}

	.artical .artical_content a {
		padding: 3px 8px;
	}

	.artical .artical_content a img {
		width: 10px
	}
}