@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Light.eot');
	src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg'), url('../fonts/SFProText-Light.ttf') format('truetype'), url('../fonts/SFProText-Light.woff') format('woff'), url('../fonts/SFProText-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Regular.eot');
	src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg'), url('../fonts/SFProText-Regular.ttf') format('truetype'), url('../fonts/SFProText-Regular.woff') format('woff'), url('../fonts/SFProText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Medium.eot');
	src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Medium.svg#SFProText-Medium') format('svg'), url('../fonts/SFProText-Medium.ttf') format('truetype'), url('../fonts/SFProText-Medium.woff') format('woff'), url('../fonts/SFProText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Semibold.eot');
	src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg'), url('../fonts/SFProText-Semibold.ttf') format('truetype'), url('../fonts/SFProText-Semibold.woff') format('woff'), url('../fonts/SFProText-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Bold.eot');
	src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg'), url('../fonts/SFProText-Bold.ttf') format('truetype'), url('../fonts/SFProText-Bold.woff') format('woff'), url('../fonts/SFProText-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Heavy.eot');
	src: url('../fonts/SFProText-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Heavy.svg#SFProText-Heavy') format('svg'), url('../fonts/SFProText-Heavy.ttf') format('truetype'), url('../fonts/SFProText-Heavy.woff') format('woff'), url('../fonts/SFProText-Heavy.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi.ttf') format('truetype'),
		url('../fonts/DroidArabicKufi.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidArabicKufi';
	src: url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg'), url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype'), url('../fonts/DroidArabicKufi-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

:root {
	--primary: #23A2A4;
	--reg: #646D82;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'SFProText' !important;
	font-size: 13px !important;
	color: #333;
}

body.rtl {
	direction: rtl;
	font-family: 'DroidArabicKufi' !important;
	text-align: right;
	font-size: 13px !important;
}


/* ========== English font family ============ */

.enfont {
	font-family: 'SFProText';
}

/* ========== end English font family ============ */

/* ============ Breadcrumb ============ */

.breadcrumbs span {
	color: #B1B6C0;
}

.breadcrumbs h2 {
	font-size: 24px;
}

.breadcrumbs .container-fluid {
	border: none !important;
}

.breadcrumbs .container-fluid.border-top::before,
.breadcrumbs .container-fluid.border-bottom::after {
	content: "";
	width: 100%;
	height: 1px;
	background: #dee2e6;
	display: block;
	margin: -1rem 0 1rem;
}

.breadcrumbs .container-fluid.border-bottom::after {
	margin: 0.75rem 0 0;
}

/* ============ End Breadcrumb ============ */



/* =========== Content =============== */

.content .container-fluid {
	max-width: 1280px
}

/* ============ end Content =========== */



/* ============ Bahas ============ */

.bahas {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 12px;
	border-radius: 9px;
	background: #F3F3F3;
}

.bahas a {
	background: var(--primary) !important;
	width: 183px;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-size: 20px;
	font-weight: 300;
	margin: 0 auto;
	border-radius: 10px;
	border: none;
	display: inline-block;
	text-decoration: none
}

/* ============ End Bahas ============ */



/* ============ Tamriz ============ */
.tamriz h2 {
	font-size: 24px;
	color: rgba(0, 0, 0, 1);
}

.tamriz p {
	color: #333333;
	line-height: 32px;
}

/* ============ End Tamriz ============ */



/* ============ loginservice ============ */

.loginservices .serviceinfo {
	position: relative;
	border: 0.20000000298023224px solid #e4e4e4;
	border-radius: 20px;
	padding: 20px;
	margin: 10px auto;
	display: flex;
	flex-wrap: wrap;
}

.loginservices .serviceinfo img {
	width: 60px;
	height: 50px;
}

.serviceinfo .posimg {
	position: absolute;
	width: 30px;
	height: 40px !important;
	top: 20px;
	left: 30px;
}

.loginservices h4 {
	font-size: 20px;
}

.loginservices p {
	font-size: 12px;
}

.loginservices h6 {
	font-size: 14px;
}

.loginservices .not {
	background: #23A2A4;
	box-shadow: 0px 3px 6px #F0F4FC;
	border: 2px solid #23A2A4;
	border-radius: 12px;
}

.loginservices .not .modal-body .medicalvisit {
	background: #23A2A4;
	box-shadow: 0px 3px 6px #F0F4FC;
	border: 2px solid #23A2A4;
	border-radius: 12px;
}

.loginservices .not .modal-body .medicalvisit p {
	font-size: 10px;
}

.modal-footer-colored {
	background: #23A2A4
}

/* ============ End loginservice ============ */

.whatsapp {
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 1000
}

.chat {
	position: fixed;
	bottom: 50px;
	right: 90px;
	z-index: 1000;
}

.whatsapp img,
.chat img {
	width: 50px;
}


@media screen and (max-width:1522px) {
	nav.nav-lg a {
		padding: 0.5rem 20px !important
	}
}

@media screen and (max-width:1400px) {

	nav.nav-lg a {
		padding: 0.5rem 15px !important;
	}
}

@media screen and (max-width:1300px) {

	header .nav-lg .nav-item.c-o a,
	nav.nav-lg a {
		padding: 0.5rem 10px !important
	}

	header .nav-lg .nav-link.btn {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media screen and (max-width:1150px) {
	nav a {
		padding: 0.5rem 18px !important
	}

	header .nav-lg .nav-item.c-o a,
	nav.nav-lg a {
		padding: 0.5rem 7px !important;
		font-size: 13px;
	}
}

@media screen and (max-width:991px) {

	a.scrolltocontent {
		bottom: 30px;
	}

}

@media screen and (max-width:767px) {}

@media screen and (max-width:576px) {

	#outer label,
	#outer2 label {
		width: 100%;
		flex: 0 0 100%;
		margin-left: 0;
	}
}