@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Light.eot');
    src: url('../fonts/SFProText-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Light.svg#SFProText-Light') format('svg'), url('../fonts/SFProText-Light.ttf') format('truetype'), url('../fonts/SFProText-Light.woff') format('woff'), url('../fonts/SFProText-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Regular.eot');
    src: url('../fonts/SFProText-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Regular.svg#SFProText-Regular') format('svg'), url('../fonts/SFProText-Regular.ttf') format('truetype'), url('../fonts/SFProText-Regular.woff') format('woff'), url('../fonts/SFProText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Medium.eot');
    src: url('../fonts/SFProText-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Medium.svg#SFProText-Medium') format('svg'), url('../fonts/SFProText-Medium.ttf') format('truetype'), url('../fonts/SFProText-Medium.woff') format('woff'), url('../fonts/SFProText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Semibold.eot');
    src: url('../fonts/SFProText-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Semibold.svg#SFProText-Semibold') format('svg'), url('../fonts/SFProText-Semibold.ttf') format('truetype'), url('../fonts/SFProText-Semibold.woff') format('woff'), url('../fonts/SFProText-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Bold.eot');
    src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Bold.svg#SFProText-Bold') format('svg'), url('../fonts/SFProText-Bold.ttf') format('truetype'), url('../fonts/SFProText-Bold.woff') format('woff'), url('../fonts/SFProText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFProText';
    src: url('../fonts/SFProText-Heavy.eot');
    src: url('../fonts/SFProText-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Heavy.svg#SFProText-Heavy') format('svg'), url('../fonts/SFProText-Heavy.ttf') format('truetype'), url('../fonts/SFProText-Heavy.woff') format('woff'), url('../fonts/SFProText-Heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DroidArabicKufi';
    src: url('../fonts/DroidArabicKufi.ttf') format('truetype'), url('../fonts/DroidArabicKufi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidArabicKufi';
    src: url('../fonts/DroidArabicKufi-Bold.svg#DroidArabicKufi-Bold') format('svg'), url('../fonts/DroidArabicKufi-Bold.ttf') format('truetype'), url('../fonts/DroidArabicKufi-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary: #23A2A4;
    --reg: #646D82;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'SFProText' !important;
    font-size: 13px !important;
    color: #333;
}

    body.rtl {
        direction: rtl;
        font-family: 'DroidArabicKufi' !important;
        text-align: right;
        font-size: 13px !important;
    }

/* Register page style */
.register-form {
    color: var(--reg);
    width: 400px;
    margin: 25px auto 0;
    max-width: 96%;
    flex-direction: column;
    min-height: calc(100vh - 50px);
}

.formrow {
    display: flex;
    width: 100%
}

    .formrow input {
        font-size: 15px;
    }

    .formrow .check {
        color: var(--primary);
        margin-right: 10px;
        font-size: 12px;
    }

.heading .f-12 {
    font-size: 12px !important;
}

.img-area {
    background: var(--primary);
    min-height: 100vh;
}

.register-form a {
    color: var(--primary);
}

.register-form .heading .img {
    height: 148px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center
}

.register-form .heading span:not(.img) {
    opacity: 0.5;
    font-size: 15px;
}

.register-form .login {
    font-size: 15px;
}

    .register-form .login a {
        text-decoration: none;
    }



.register-form .copyright {
    font-size: 17px;
    color: #64676E
}

.form-select {
    background-position: left !important;
    color: var(--reg);
}

.form-control,
.form-select {
    padding-left: 5px !important;
    padding-right: 5px !important;
    border: none !important;
    border-bottom: 2px solid #E9E9F0 !important;
    border-radius: 0 !important;
}

.code .form-control {
    width: 44px;
    text-align: center
}

.register-form button {
    background: var(--primary) !important;
    width: 183px;
    height: 50px;
    color: #FFF;
    font-size: 17px;
    font-weight: 300;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    text-transform: uppercase
}

.register-form .border-btn {
    border: 1px solid var(--primary) !important;
    width: 183px;
    height: 50px;
    color: var(--primary);
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    text-decoration: none;
    line-height: 50px;
    text-align: center
}

.social-register {
    position: relative;
}

    .social-register span {
        position: absolute;
        background: #FFF;
        top: -15px;
        font-weight: bold;
        font-size: 18px;
        color: #000;
        padding: 0 10px;
        left: calc(50% - 23px);
    }

    .social-register .fb {
        display: block;
        background: #3664BF;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        text-decoration: none
    }

    .social-register .google {
        display: block;
        background: #D64335;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        text-decoration: none
    }

    .social-register .apple {
        display: block;
        background: #000;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        text-decoration: none
    }

    .social-register i {
        margin-right: 15px;
        font-size: 16px
    }

/* index-ar-login */
.c-o .userinfo {
    color: #0C0C0C;
    line-height: 14px;
}

    .c-o .userinfo img {
        width: 34px;
    }

    .c-o .userinfo p {
        font-size: 12px;
    }

    .c-o .userinfo small {
        font-size: 9px;
    }

    .c-o .userinfo span {
        border-top-color: var(--primary) !important;
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: absolute;
        left: -5px;
        top: 5px;
    }

/* index-ar-login */

/* index-ar-login-8 */
.bahas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 9px;
    background: #F3F3F3;
}

.tamriz h3 span {
    color: #64676E;
    margin: 0 20px;
}

.tamriz p {
    color: #333333;
    line-height: 32px;
}

.tamriz img {
    text-align: left;
}

.loginservices .serviceinfo {
    position: relative;
    border: 0.20000000298023224px solid #e4e4e4;
    border-radius: 20px;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.loginservices img {
    width: 60px;
    height: 58px;
}

.serviceinfo .posimg {
    position: absolute;
    width: 40px;
    top: 20px;
    left: 20px;
}

.loginservices h4 {
    font-size: 20px;
}

.loginservices h6 {
    font-size: 14px;
}

.loginservices p {
    font-size: 12px;
}

.loginservices .not {
    background: #23A2A4;
    box-shadow: 0px 3px 6px #F0F4FC;
    border: 2px solid #23A2A4;
    border-radius: 12px;
}

    .loginservices .not .modal-body .col-md-5 {
        background: #23A2A4;
        box-shadow: 0px 3px 6px #F0F4FC;
        border: 2px solid #23A2A4;
        border-radius: 12px;
    }

        .loginservices .not .modal-body .col-md-5 p {
            font-size: 10px;
        }

.loginservices .list-group-flush {
    padding: 0 24px;
}

    .loginservices .list-group-flush li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
    }

        /*.loginservices .list-group-flush li::before {
            content: "";
            position: absolute;
            background: #E04F5F;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            right: -10px;
            top: 25px;
        }*/

.bookingdelbtn {
    background: #E04F5F;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    line-height: 10px;
    padding: 0 0 3px 0; 
    color: #fff;
    font-size: 17px;
}
    .bookingdelbtn:hover {
        background: #E04F5F;
        color:#fff;
    }
.increaseCartQuantity, .decreaseCartQuantity{
    cursor:pointer;
    padding:3px;
    background-color:transparent;
    border:none;
}

.loginservices .list-group-flush a {
    padding: 12px 70px;
    color: #fff;
    background: #23A2A4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
    vertical-align: middle;
}

.modal-footer-colored {
    background: #23A2A4
}


.loginservices .analytics .analyticscontent {
    background: var(--primary);
    border-radius: 20px;
    margin: 10px 0;
}

    .loginservices .analytics .analyticscontent h6 {
        line-height: 30px;
    }

    .loginservices .analytics .analyticscontent h2 {
        color: #fff;
        margin-bottom: 12px;
    }

        .loginservices .analytics .analyticscontent h2 small {
            font-size: 10px;
        }

    .loginservices .analytics .analyticscontent button {
        border-radius: 12px;
        color: var(--primary);
        font-size: 13px;
        padding: 5px 24px;
        margin-bottom: 10px;
    }

.loginservices .analytics .analyticimg {
    width: 180px;
    height: 180px
}

.loginservices .nav-link.active {
    background: none !important;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    border-radius: 0;
}

.loginservices .list-unstyled {
    padding-left: 0;
}

    .loginservices .list-unstyled li {
        line-height: 20px;
    }

        .loginservices .list-unstyled li p {
            font-weight: 600;
        }

.loginservices .pacakagebtn a {
    background-color: var(--primary);
    border-radius: 12px;
    padding: 5px 50px;
    color: #fff;
    text-decoration: none;
}

.loginservices .pacakagebtn h6 {
    font-size: 10px;
    color: #64676E;
}

/* index-ar-login-8 */

/* index-ar-login-15 */
.search button {
    padding: 5px 20px;
}

.search .timebtn {
    background: #FFFFFF;
    border: 1px solid #333333;
    border-radius: 9px;
}

.search .mrnbtn {
    background: #23A2A4;
    border: none;
    border-radius: 9px;
    color: #fff;
}

.search .evebtn {
    background: #23A2A4;
    border-radius: 9px;
    color: #fff;
    border: none;
}

.tehdeesbtn {
    background: #23A2A4;
    border-radius: 17px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    padding: 10px 100px;
}

.serchboxbhas {
    background: #EFEFEF;
    width: 270px;
    padding: 0 10px;
    height: 35px;
    line-height: 30px;
    border-radius: 7px;
}

    .serchboxbhas .form-select {
        font-size: 14px !important;
        border: none !important;
    }

.bahasresult {
    border-right: 1px solid lightgray;
}

    .bahasresult p {
        margin: 0;
        font-size: 11px;
    }

    .bahasresult span {
        font-size: 12px;
        color: #707070;
    }

    .bahasresult .bahasdocimg {
        width: 250px;
        height: 150px;
    }

.bahasbtns button {
    background: #DDDDDD;
    border-radius: 9px;
    border: none;
    color: #7E7E7E;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}

.bahasbtns .active {
    background-color: var(--primary);
    color: #fff;
}

.bahasbtns a {
    text-decoration: none;
}

.bahasbtns img {
    padding: 5px;
    background-color: #DDDDDD;
    border-radius: 9px 0 0 9px;
}

.bahasbtns .leftarw {
    transform: scaleX(-1);
}



/* Home Health Care */
.healthcare .homecare {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px #E5E9F666;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

    .healthcare .homecare img {
        width: 80px;
        height: 80px;
    }

    .healthcare .homecare h5 {
        font-size: 18px;
    }
/* End Home Health Care */



/* landing page style */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,162,164, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(35, 162, 164);
}

body.rtl ul.navbar-nav.ml-auto {
    margin-left: 0 !important;
    margin-right: auto;
}

.content .container-fluid {
    max-width: 1280px
}

header .container-fluid,
footer .container-fluid,
.breadcrumbs .container-fluid,
.banner .container-fluid {
    max-width: 1640px;
    position: relative
}

.dropdown-toggle::after {
    border-top-color: var(--primary)
}

nav a {
    color: #303030 !important;
    padding: 0.5rem 20px !important;
    font-size: 15px;
}

    nav .active a,
    nav a:hover {
        color: var(--primary) !important;
    }





body.rtl nav a {
    font-size: 13px;
}

body.rtl nav .nav-item:last-child a {
    font-size: 17px;
    font-family: 'SFProText' !important;
}

.content h2 {
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
}

.content h3 {
    font-size: 20px;
}

header img {
    width: 98px;
}

.banner a,
.bahas a {
    background: var(--primary) !important;
    width: 183px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-decoration: none
}

.banner {
    position: relative
}

    .banner h1 {
        font-size: 45px;
        letter-spacing: 8px;
        margin-bottom: 30px;
    }

    .banner .bannersearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: #FFFFFF;
        padding: 12px;
        border-radius: 10px;
        width: 100%;
        max-width: 920px;
        margin: auto;
    }

    .banner .form-select {
        border-bottom: none !important;
        background: none;
    }

    .banner span {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        border-top-color: var(--primary);
        position: absolute;
        left: 5px;
        bottom: 15px;
    }

.bannersearch .search {
    text-align: right;
    padding-right: 24px;
    border-right: 1px solid lightgrey;
}

    .bannersearch .search p {
        color: #64676E;
    }

body.rtl .banner h1 {
    letter-spacing: unset;
}

.carousel-caption {
    bottom: calc(50% - 160px)
}

.servicetree .box {
    border-left: 1px solid #E6E6E7;
    padding: 40px;
    position: relative;
    height: 100%
}

    .servicetree .box h3 {
        font-size: 30px;
    }

    .servicetree .box p {
        font-size: 13px;
        line-height: 28px;
        margin: 0;
        color: #64676E;
    }

    .servicetree .box span {
        padding-left: 40px;
        font-size: 32px;
        color: #23A2A4;
    }

body.rtl .servicetree .box span {
    padding-left: 0;
    padding-right: 40px;
    font-family: 'SFProText'
}

.servicetree .col-md-4:last-child .box {
    border-right: 1px solid #E6E6E7;
}

body.rtl .servicetree .box {
    border-right: 1px solid #E6E6E7;
    border-left: 0;
}

.servicetree .box.top {
    border-bottom: 1px solid #E6E6E7;
}

    .servicetree .box.top::before {
        content: "";
        width: 30px;
        height: 1px;
        background: #E6E6E7;
        left: 0;
        top: 0;
        position: absolute;
        display: block
    }

body.rtl .servicetree .box.top::before,
body.rtl .servicetree .box.bottom::before {
    left: auto;
    right: 0
}

.servicetree .box.bottom::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #E6E6E7;
    left: 0;
    bottom: 0;
    position: absolute;
    display: block
}

.servicetree .box::after,
.servicetree .col-md-4:last-child::after {
    content: "";
    width: 22px;
    height: 22px;
    background: #FFF;
    left: -12px;
    bottom: -12px;
    position: absolute;
    display: block;
    border: 2px solid var(--primary);
    border-radius: 50%;
    z-index: 99
}

body.rtl .servicetree .box::after,
body.rtl .servicetree .col-md-4:last-child::after {
    left: auto;
    right: -12px;
}

.servicetree .box.bottom::after,
.servicetree .col-md-4:last-child::after {
    top: -12px;
    bottom: auto
}

.servicetree .col-md-4:last-child::after {
    right: -12px;
    left: auto;
}


.story,
.comingsoon {
    font-size: 16px;
    color: #4B4B4B;
    line-height: 40px;
}

    .story h2,
    .comingsoon h5,
    .comingsoon h2 {
        color: #4B4B4B;
    }

.comingsoon {
    line-height: 30px;
}

    .comingsoon h5 {
        font-size: 22px;
        font-weight: normal
    }

    .comingsoon .dwnlimg {
        width: 150px;
        height: 60px;
        margin-bottom: 10px;
    }

    .comingsoon .appgallarybtn {
        height: 55px;
    }

.story h2 {
    line-height: 60px;
    text-align: right;
}

    .story h2 span {
        margin-right: 130px;
    }

.story p {
    font-size: 14px;
    line-height: 37px;
}

.story a {
    background: var(--primary) !important;
    width: 183px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-decoration: none
}


/* articals */

.artical .artical_content {
    background-color: #F8F8F8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 24px;
}

.artical .articalhead a {
    text-decoration: none;
}

.artical .artical_content img {
    width: 218px;
    height: 250px;
}

.artical .artical_content a {
    position: absolute;
    padding: 10px 14px;
    left: 0;
    bottom: 0;
    color: #fff;
    background: #23A2A4;
    border-radius: 0px 0px 0px 24px;
}

    .artical .artical_content a img {
        width: 18px;
        height: 25px;
    }


.artical p {
    font-size: 12px;
    color: #64676E;
    opacity: 1;
}


body.rtl .story,
body.rtl .comingsoon {
    font-size: 18px;
    color: #64676E
}

.servicetree .box h3 + div {
    height: calc(100% - 40px);
}

    .servicetree .box h3 + div div {
        height: 100%;
    }


.bmc img {
    width: 165px;
    height: 156px;
}

.nav-tabs {
    border-bottom: 1px solid #E6E6E7
}

    .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 3px solid var(--primary) !important;
        color: var(--primary)
    }

    .nav-tabs .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-right: 40px;
        font-size: 20px;
        padding-bottom: 20px;
        color: #000;
        border: none !important;
    }

#outer,
#outer2 {
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    padding: 10px 0 50px;
}

#left-button,
#left-button2,
.carousel-control-prev {
    float: right;
    width: 46px;
    height: 46px;
    text-align: center;
    color: #FFF;
    background: var(--primary);
    border-radius: 0 9px 9px 0;
    line-height: 46px;
    font-weight: bold;
    position: static;
    opacity: 1;
}

    #left-button a,
    #left-button2 a {
        color: #FFF !important;
        text-decoration: none
    }

#right-button,
#right-button2,
.carousel-control-next {
    float: right;
    width: 46px;
    height: 46px;
    text-align: center;
    background: #DDDDDD;
    border-radius: 9px 0 0 9px;
    line-height: 46px;
    font-weight: bold;
    visibility: visible !important;
    position: static;
    opacity: 1;
}

    #right-button a,
    #right-button2 a {
        color: #000 !important;
        text-decoration: none
    }

#inner,
#inner2 {
    display: flex;
}

    #inner label:first-child,
    #inner2 label:first-child {
        margin-left: 0;
    }

#outer label,
#outer2 label,
.service-box,
.caption-list label {
    margin-left: 30px;
    width: 365px;
    flex: 0 0 365px;
    background: #FFF;
    color: #0F0F0F;
    border-radius: 15px;
    white-space: normal;
    box-shadow: 0px 10px 40px #e5e9f666;
    padding: 20px 30px;
    line-height: 28px;
}

.service-box {
    height: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

#outer label h3,
#outere2 label h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 15px
}

#outer label p,
#outer2 label p {
    margin-bottom: 0;
}

.hide {
    display: none;
}

body.rtl #left-button,
body.rtl #left-button2,
body.rtl #right-button,
body.rtl #right-button2 {
    float: left;
    transform: rotate(180deg);
}

a.scrolltocontent {
    background: none !important;
    position: absolute;
    left: calc(50% - 92px);
    bottom: 90px;
}

.dropdown-item.active,
.dropdown-item:active {
    background: var(--primary)
}

.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 1000
}

.chat {
    position: fixed;
    bottom: 50px;
    right: 90px;
    z-index: 1000;
}

    .whatsapp img,
    .chat img {
        width: 50px;
    }

.caption-list {
    width: 100%;
    background: rgba(255, 255, 255, 0.50);
    /* margin-top: -220px; */
    margin-top: -100px;
    padding: 20px;
    /* padding: 100px 50px; */
    position: relative;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

    .caption-list h3 {
        font-size: 14px;
    }

    .caption-list img {
        width: 77px;
        height: 72px;
        margin-bottom: 7px;
    }


    .caption-list label {
        width: 100%;
        padding: 40px 0;
    }

/* Terms and Condition style */
header .nav-link img {
    width: 13px;
    display: inline-block;
}

header .nav-item.c-o a {
    color: var(--primary);
    padding: 0.5rem 15px !important;
    border-left: 1px solid #E6E6E7
}

/* header .nav-item.c-o+li a {
	padding: 0.5rem 15px !important;
	border-left: 1px solid #E6E6E7
} */

header .nav-link.btn {
    background: var(--primary);
    border-radius: 10px;
    color: #FFF;
    margin-right: 20px;
    margin-left: 55px;
}

    header .nav-link.btn:hover {
        color: #fff !important;
    }

footer {
    background: var(--primary);
    padding-top: 60px;
    color: #FFF
}


    footer .footercontent a {
        font-size: 18px;
        line-height: 40px;
        text-decoration: none;
    }

    footer .footercontent h6 {
        margin-right: 20px;
    }

    footer ul {
        color: #FFF;
        font-size: 20px;
        padding-left: 10px;
    }


        footer ul a {
            color: #FFF !important;
        }

.content ul {
    padding-left: 10px;
}

.content li {
    color: #333;
    line-height: 48px
}

    .content li::marker {
        color: var(--primary)
    }

.breadcrumbs span {
    color: #B1B6C0;
}

.breadcrumbs h2 {
    font-size: 24px;
}

.breadcrumbs .container-fluid {
    border: none !important;
}

    .breadcrumbs .container-fluid.border-top::before,
    .breadcrumbs .container-fluid.border-bottom::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #dee2e6;
        display: block;
        margin: -1rem 0 1rem;
    }

    .breadcrumbs .container-fluid.border-bottom::after {
        margin: 0.75rem 0 0;
    }

/* About Us page style */
.about-us {
    line-height: 35px;
    font-size: 14px
}

    .about-us a {
        color: var(--primary)
    }

body.rtl .about-doc {
    position: relative;
    transform: scaleX(-1);
}

.about-doc {
    margin-top: -260px;
    max-width: 100%
}

.check-list {
    font-size: 1rem
}

    .check-list label {
        font-weight: bold;
        color: #333
    }

    .check-list span {
        margin: 5px 0
    }

/* Terms of Use  */
.term-of-use p {
    line-height: 48px;
}

.term-of-use .space {
    width: 100px;
}

.term-of-use h3.primary {
    color: var(--primary);
    font-size: 24px;
}

/* Media Center  */
.media-center h3 {
    font-size: 24px;
    color: #202124;
}

.media-center p,
.comments span,
.small-title {
    color: #A6ADB4;
    line-height: 30px;
}

.comments h3 {
    font-size: 20px;
}

.comments p {
    color: #202124;
}

.comments .d-block + div {
    margin-top: 20px
}

.small-title {
    font-size: 16px;
}

    .small-title span {
        color: #202124;
        font-size: 13px;
    }

.comments .d-block.border-top {
    border-top: 2px dashed #EBEDED;
}

.comments .comment {
    background: #F8F8F8;
    border-radius: 11px;
    display: flex;
}

    .comments .comment textarea {
        background: none;
        border: none;
        border-bottom: 2px solid #E9E9F0 !important;
        width: 100%;
    }

.comment button {
    background: var(--primary) !important;
    width: 120px;
    height: 40px;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

/*My order*/
.my-order .border-box {
    background: #FAFAFA;
    padding: 20px 30px
}

.my-order h3 {
    font-size: 20px;
}

.my-order li {
    line-height: 30px;
}

.primary-btn {
    background: var(--primary) !important;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #FFF !important;
    font-size: 13px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none !important;
}

/*contact us*/
.contact-us {
    min-height: unset;
}

    .contact-us h3 {
        font-size: 22px;
        white-space: nowrap;
    }

    .contact-us .madina span {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        border-top-color: #64676E;
        position: absolute;
        left: 5px;
        bottom: 15px;
    }

    .contact-us .contact-info span {
        color: var(--primary);
        font-size: 20px;
    }



.service-package .sb-area p {
    line-height: 55px
}

.grey-btn {
    background: #F5F5F5 !important;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #333;
    font-size: 13px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    display: block;
    text-align: center;
    text-decoration: none !important;
}

.join-team .grey-btn,
.join-team .primary-btn {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
}

.join-team p {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.c-primary {
    color: var(--primary) !important;
}

.fa-star {
    color: #C6CFE1;
}

.checked {
    color: orange;
}

.health-care h3 {
    font-size: 22px;
}

.health-care h4 {
    font-size: 18px;
}

.health-care p,
.health-care ul li,
.reviews p + span {
    color: #A6ADB4;
    line-height: 35px;
}

.health-care ul {
    padding-left: 25px;
}

    .health-care ul li::marker {
        font-size: 22px
    }

.breadcrumbs .health-care {
    float: right;
    width: 216px;
    padding: 8px;
    box-shadow: 0px 3px 6px #0000001F;
    border-radius: 10px;
    margin-top: -13px
}

.health-care a.primary-btn {
    display: inline-block;
    max-width: 200px;
}

.reviews p {
    color: #202124;
    line-height: 25px;
    margin: 20px 0 30px;
}

.reviews img {
    margin-right: 10px;
}

.reviews p + span {
    font-size: 13px;
}

.account-banner .caption {
    position: absolute;
    bottom: 0;
    background: #FF5151;
    text-align: center;
    color: #FFF;
    left: 15px;
    right: 15px;
    border-radius: 0 0 5px 5px;
    padding: 2px 0;
}

.user-thumbnail {
    position: absolute;
    bottom: -50px;
    left: 70px;
}

    .user-thumbnail a {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        line-height: 30px;
        font-size: 15px;
        text-align: center;
        border: 1px solid #fff;
        position: absolute;
        left: 2px;
        top: 2px;
    }

.heading-icon-link {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    flex: 0 0 25px;
    background: var(--primary) !important;
    display: block;
    color: #FFF
}

.account {
    font-size: 15px;
}

    .account h3 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .account label {
        color: #DDDDDD;
        display: block;
    }

.history-files img {
    margin-right: 15px;
}

.history-files span {
    font-size: 12px;
    color: #393E46;
    opacity: 0.5;
    display: block
}

.history-files .primary-btn {
    display: inline-block;
    max-width: 200px;
}

.account .patient {
    background: #A7DADA;
    border-radius: 10px;
    color: #FFF;
    padding: 12px 15px 15px;
    height: 100%;
    position: relative;
}

.account .patients .col-sm-4 {
    margin-bottom: 12px
}

.account .patient span {
    display: block;
    font-size: 12px;
}

.account .patient small {
    display: block;
    font-size: 10px;
}

.account .patient > img {
    margin-bottom: 10px;
}

.account .patient .delete {
    position: absolute;
    top: -12px;
    right: -7px;
}

    .account .patient .delete img {
        width: 20px;
    }

.account .patient.active {
    background: var(--primary)
}

.account-banner .img-fluid {
    min-height: 100px;
}

.media-center-tabs h2 {
    font-size: 22px !important;
}

.media-center-tabs h3 {
    font-size: 15px !important;
    margin-bottom: 0 !important;
}

.media-center-tabs p,
.media-center-tabs span {
    font-size: 13px;
    color: #A6ADB4
}

.media-center-tabs h4 {
    font-size: 15px !important;
    margin-bottom: 0 !important;
}

.media-center-tabs .news-item + div {
    margin-top: 30px;
}

.media-center-tabs .news-item h4 {
    margin-bottom: 5px !important;
}

.media-center-tabs .news-item h3 {
    margin-bottom: 15px !important;
    color: var(--primary)
}

.media-center-tabs #outer label {
    background: none;
    box-shadow: none;
    padding: 0
}

    .media-center-tabs #outer label img {
        max-width: 100%
    }

.media-center-tabs #elem {
    margin-top: -46px;
}

.news-heading {
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom: 1px solid #CCC;
}

.world-news {
    height: 100%;
    position: relative;
}

    .world-news > img,
    .blog-news > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 380px;
    }

.blog-news {
    position: relative;
}

.world-news .caption {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    max-width: 650px;
    padding: 70px 60px;
    color: #FFF;
}

.blog-news .caption {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    padding: 40px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.world-news .caption h2 {
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

.world-news .caption h3 {
    font-size: 20px !important;
    margin-bottom: 1.5rem !important;
}

.blog-news .caption h4 {
    font-size: 22px !important;
    margin-bottom: 10px !important;
}

.blog-news p {
    color: #FFF;
    margin-bottom: 1.5rem
}

    .blog-news p + span {
        color: #FFF;
        font-size: 11px;
    }

.world-news .caption p {
    color: #FFF !important;
    margin-bottom: 25px !important;
}

.world-news .caption a {
    display: inline-block;
    width: 120px;
}

#successModal .modal-dialog {
    width: 300px;
}

#successModal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: red;
    z-index: 10
}

#successModal .modal-body {
    padding: 32px 50px
}

.blog-news .news-title {
    color: #FFF;
    font-size: 14px;
    flex-grow: 1;
}

.blog-slider img {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 5px;
}

.blog-slider h3 {
    font-size: 13px !important;
    margin-top: 15px
}

.blog-slider span {
    font-size: 11px;
}

.blog-slider a {
    color: #A6ADB4;
    text-decoration: underline;
}

.blog-slider label {
    width: 100%;
    height: 100%;
}

#blogs h2 {
    line-height: 46px
}

.datepicker-inline {
    background: none;
    border: none;
    color: var(--primary);
    margin-left: 15px
}

.account-patient .accordion h2 {
    font-size: 18px;
}

.card {
    margin-bottom: 1px;
}

.account-patient .accordion .collapsed .fa-angle-up::before {
    content: "\f107"
}

.accordion > .card > .card-header {
    background: #F5F5F5;
    border: none;
    border-radius: 0 !important;
}

.card-header .fa-solid {
    color: var(--primary)
}

.delete-list-item {
    width: 50px;
    height: 50px;
    box-shadow: 0px 3px 6px #f0f4fc;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #FF0000;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
}

.package-list-item {
    padding: 0 0 1.5rem;
    margin: 0 -15px;
    font-size: 17px;
}

    .package-list-item img {
        width: 76px;
    }

    .package-list-item::before {
        content: "";
        height: 1px;
        width: calc(100% - 30px);
        background: #ddd;
        display: block;
        margin: 0 15px 1.5rem
    }

.account-faqs .card {
    border: none;
    border-bottom: 2px solid #E9E9F0 !important;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.account-faqs .card-header,
.account-faqs .card-header button {
    border: none;
    background: none !important;
    padding: 0 !important;
    color: #333;
    text-decoration: none;
    box-shadow: none;
}

.check-select label {
    color: #333333;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #E9E9F0;
}

    .check-select label input:checked + span {
        color: var(--primary)
    }

.attachment-buttons .attachment {
    background: #DDDDDD;
    border-radius: 17px;
    height: 60px;
    padding: 0 15px;
    font-size: 18px;
}

.payment-form .form-control {
    width: 100%;
    color: var(--primary);
    border: none;
    border-bottom: 2px solid #E9E9F0;
}


@media screen and (max-width:1522px) {
    nav.nav-lg a {
        padding: 0.5rem 20px !important
    }
}

@media screen and (max-width:1400px) {

    .story,
    .comingsoon {
        line-height: 40px;
    }

    .carousel-caption {
        bottom: calc(50% - 80px);
        left: 0;
        right: 0
    }

    nav.nav-lg a {
        padding: 0.5rem 15px !important;
    }
}

@media screen and (max-width:1300px) {

    .story,
    .comingsoon {
        line-height: 25px;
        font-size: 16px;
    }

    body.rtl .story,
    body.rtl .comingsoon {
        line-height: 23px;
        font-size: 14px;
    }

    .story h2 span {
        margin-right: 100px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content h3 {
        font-size: 18px;
    }

    .servicetree .box h3 {
        font-size: 24px;
    }

    .servicetree .box {
        padding: 20px;
    }

        .servicetree .box p {
            font-size: 14px;
            line-height: 25px;
        }

    body.rtl .servicetree .box p {
        font-size: 12px
    }

    .servicetree .box span {
        padding-left: 20px;
        font-size: 24px;
    }

    body.rtl .servicetree .box span {
        padding-left: 0px;
        padding-right: 20px;
        font-size: 22px;
    }

    header .nav-lg .nav-item.c-o a,
    nav.nav-lg a {
        padding: 0.5rem 10px !important
    }

    header .nav-lg .nav-link.btn {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:1150px) {
    nav a {
        padding: 0.5rem 18px !important
    }

    header .nav-lg .nav-item.c-o a,
    nav.nav-lg a {
        padding: 0.5rem 7px !important;
        font-size: 13px;
    }
}

@media screen and (max-width:991px) {
    .img-area {
        min-height: unset;
    }

    .artical .artical_content {
        flex-wrap: wrap;
        justify-content: start;
    }

    a.scrolltocontent {
        bottom: 30px;
    }

    .story h2 span {
        margin-right: 55px;
    }

    .bahasresult {
        border-top: 1px solid lightgray;
        border-right: 0;
    }

        .bahasresult .col {
            padding: 0 !important;
        }

        .bahasresult .bahasbtns {
            text-align: center;
        }

        .bahasresult .flex-column {
            flex-direction: row !important;
            justify-content: space-around;
        }
}

@media screen and (max-width:767px) {
    .banner h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
    }

    .servicetree .box h3 + div div {
        width: 100%
    }

    .artical .artical_content {
        flex-wrap: nowrap;
    }

        .artical .artical_content img {
            width: 158px;
            height: 170px;
        }

    .servicetree .col-md-4:last-child .box {
        border-right: 0;
    }

    body.rtl .servicetree .col-md-4:last-child .box {
        border-left: 0;
        border-right: 1px solid #E6E6E7
    }

    .servicetree .col-md-4:last-child::after,
    a.scrolltocontent {
        display: none
    }

    .servicetree .box.bottom {
        border-bottom: 1px solid #E6E6E7;
    }

    footer .col-md-6,
    footer .col-md-4 {
        text-align: center !important;
    }

        footer .col-md-6:last-child,
        footer .col-md-4 ~ div {
            border: none !important;
            padding-top: 0 !important;
        }

    .carousel-caption {
        bottom: calc(50% - 100px);
    }

    .about-doc {
        margin-top: 0px;
    }

    .contact-us .border-left {
        border: none !important;
    }

    .account-banner .caption,
    .account-banner .user-thumbnail {
        position: relative;
        left: auto;
        right: auto;
    }

    .account-banner .user-thumbnail {
        width: 110px;
        margin: 0 auto;
    }

    .account-banner .img-fluid {
        border-radius: 5px 5px 0 0;
        margin-bottom: -2px
    }

    .world-news .caption {
        padding: 40px 30px;
    }
}

@media screen and (max-width:576px) {
    .banner img {
        min-height: 230px;
        object-fit: cover;
    }

    .account-banner .user-thumbnail img {
        min-height: unset
    }

    .banner h1 {
        font-size: 24px;
    }

    #outer label,
    #outer2 label {
        width: 100%;
        flex: 0 0 100%;
        margin-left: 0;
    }

    .world-news .caption {
        position: static;
        color: #333;
        padding: 30px 0;
    }

        .world-news .caption h2,
        .world-news .caption p {
            color: #333 !important;
        }

    .world-news > img {
        height: auto;
        min-height: unset
    }

    .analyticscontent > div {
        flex-direction: column;
    }

    .artical_content h3 {
        font-size: 13px;
    }

    .artical_content p {
        font-size: 11px;
    }

    .artical_content .ms-5 {
        margin-left: 0 !important;
    }

    .artical .artical_content a {
        padding: 3px 8px;
    }

        .artical .artical_content a img {
            width: 10px
        }
}
