@{
    //ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/index-ar.css" rel="stylesheet" />
<div class="banner text-center">
    <!-- <img src="images/first-slide.png" class="img-fluid" alt="" /> -->
    <img src=@Url.Content("../images/first-slide.png") class="img-fluid" alt="" />
    <div class="carousel-caption text-center">
        <h1>احصل على الرعاية الصحية المنزلية بسهولة</h1>
        <div class="bannersearch m-auto">
            <div class="col-auto ps-4 position-relative">
                <h6 class="mb-0 text-dark">الرياض</h6>
                <span></span>
                <select class="form-select" aria-label="Default select example">
                    <option>اختر المدينة</option>
                    <option value="	1">One</option>
                </select>
            </div>
            <div class="col-md-8 search">
                <h6 class="text-dark">ما الذى تبحث عنه</h6>
                <p class="mb-0">مثال : التخصص المطلوب أو الخدمة المطلوبة </p>
            </div>
            <div class="col-auto">
                <a href="#">احجز الآن</a>
            </div>
        </div>
    </div>
    <!--end of caption-->
    <!-- <a href="#content" class="scrolltocontent"><img src="images/svgexport.png" alt="" /></a> -->
</div>

@Html.Partial("~/Views/PartialViews/_ListOfCategories.cshtml")

<div class="content mt-5 d-flex" id="content">
    <div class="container-fluid">
        <h2 class="mb-5 w-100 d-flex">احصل على الرعاية الصحية المنزلية بسهولة</h2>
        <div class="servicetree row justify-content-center my-5 mx-0">
            <div class="col-md-4 p-0">
                <div class="box top">
                    <h3 class="mb-3">اختر الخدمة</h3>
                    <div class="d-flex align-items-center">
                        <div>
                            <p>يمكنك طلب الخدمة الصحية التى تريد من زيارة منزلية أو رعاية صحية شاملة غيرها</p>
                        </div>
                        <span>1</span>
                    </div>
                    <!--end of d-flex-->
                </div>
                <!--end of box-->
            </div>
            <!--end of col-3-->
            <div class="col-md-4 p-0">
                <div class="box top">
                    <h3 class="mb-3">سجل دخولك</h3>
                    <div class="d-flex align-items-center">
                        <div>
                            <p>نساعدك على حجز وطلب الرعاية الصحية المنزلية أينما كنت فى المملكة العربية السعودية</p>
                        </div>
                        <span>2</span>
                    </div>
                    <!--end of d-flex-->
                </div>
                <!--end of box-->
            </div>
            <!--end of col-3-->
            <div class="col-md-4 p-0">
                <div class="box top">
                    <h3 class="mb-3">الدفع</h3>
                    <div class="d-flex align-items-center">
                        <div>
                            <p>
                                يتاح لك الدفع عبر بطاقتك الإئتمانية بعد حجز الخدمة المطلوبة أو حتى استخدام تأمينك
                                الطبي
                            </p>
                        </div>
                        <span>3</span>
                    </div>
                    <!--end of d-flex-->
                </div>
                <!--end of box-->
            </div>
            <!--end of col-3-->
            <div class="col-md-4 p-0">
                <div class="box bottom">
                    <h3 class="mb-3">تلقي الخدمة</h3>
                    <div class="d-flex align-items-center">
                        <div>
                            <p>
                                نقدم لك تشخيص دقيق لحالة المريض الصحية وأفضل خطة علاجية طبقاً لأفضل الطرق
                                والممارسات في المجال الطبي
                            </p>
                        </div>
                        <span>4</span>
                    </div>
                    <!--end of d-flex-->
                </div>
                <!--end of box-->
            </div>
            <!--end of col-3-->
            <div class="col-md-4 p-0">
                <div class="box bottom">
                    <h3 class="mb-3">التقييم</h3>
                    <div class="d-flex align-items-center">
                        <div>
                            <p>اطلع على تقييمات المرضى لخدماتنا الصحية واختر ما يناسبك</p>
                        </div>
                        <span>5</span>
                    </div>
                    <!--end of d-flex-->
                </div>
                <!--end of box-->
            </div>
            <!--end of col-3-->
        </div>
        <!--end of servicetree-->
        <div class="comingsoon row my-5 align-items-center">
            <div class="col-md-5">
                <h2 class="mb-4">قريباً تطبيق نرعاكم</h2>
                <p class="mb-4">
                    سوف تسطيع أن تطلب خدمات / باقات الرعاية الصحية المنزلية بكل يسر ، عندما يتاح تطبيق
                    نرعاكم بين يديك
                </p>
                <!-- <h5 class="mb-4">قريباً على منصات</h5> -->
                <a href="#"><img class="dwnlimg" src="../images/download_Google_play.svg" alt="" /></a>
                <a href="#"><img class="dwnlimg" src="../images/Get_it_on_Google_play.svg" alt="" /></a>
                <a href="#"><img class="dwnlimg appgallarybtn" src="../images/Get_it_on_Google_play.png" alt="" /></a>
            </div>
            <!--end of col-6-->
            <div class="col-md-7">
                <img src="../images/docimg.png" class="img-fluid" alt="" />
            </div>
            <!--end of col-6-->
        </div>
        <!--end of comingsoon-->
        <div class="story row my-5 align-items-center">
            <div class="col-md-7">
                <img src="../images/storyimg.svg" class="img-fluid" alt="" />
            </div>
            <!--end of col-6-->
            <div class="col-md-5 text-center mt-4 mt-md-0">
                <h2 class="mb-4 me-5">قصة نرعاكم<br /><span>بدأت لأجلكم</span></h2>
                <p>
                    سعت نرعاكم لتقديم حلول صحية عالية الجودة للارتقاء بحياة الأفراد عبر توفير نخبة من الأطباء
                    والممرضات والمتخصصين فى تشخيص وعلاج المرضى،، في بيوتهم، ومع تزايد الاحتياج لخدمة الرعاية الصحية
                    المنزلية لأسباب عدة: كصعوبة التنقل من وإلى المستشفيات والمراكز الصحية أو حتى صعوبة البقاء بعيدا
                    عن الأحباء و العائلة في المستشفيات، واستناداً إلى إيماننا بحق الجميع في الحصول على رعاية صحية
                    رفيعة المستوى. عزمنا على إطلاق نرعاكم للرعاية الصحية المنزلية راجون من الله أن يرعاكم وأن نكون
                    لكم عون وسند
                </p>
                <a href="">اعرف اكثر</a>
            </div>
            <!--end of col-6-->
        </div>
        <!--end of comingsoon-->
        <div class="artical row my-5 align-items-center">
            <div class="my-5 articalhead d-flex align-items-center justify-content-between">
                <h2>الجديد في مقالاتنا</h2>
                <a href="">شاهد المزيد</a>
            </div>
            <!-- end d-flex articalhead -->
            <div class="col-md-6 col-12 my-2">
                <div class="artical_content">
                    <div>
                        <img src="../images/hush-naidoo-jade.png" alt="">
                    </div>
                    <div class="ms-5 me-3">
                        <h3 class="mt-2">بدء التجارب على لقاح جديد لكورونا يعمل بتقنية الحقن النفاث</h3>
                        <p>
                            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
                            بالتصاميم سواء كانت
                        </p>
                        <a href=""><img src="../images/arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- end col-md-6 -->
            <div class="col-md-6 col-12 my-2">
                <div class="artical_content">
                    <div>
                        <img src="../images/martha-dominguez-de-gouveia.png" alt="">
                    </div>
                    <div class="ms-5 me-3">
                        <h3 class="mt-2">فايزر: قد يتم تعجيل طرح الجرعة الرابعة من اللقاح بسبب أوميكرون</h3>
                        <p>
                            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
                            بالتصاميم سواء كانت
                        </p>
                        <a href=""><img src="../images/arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- end col-md-6 -->
            <div class="col-md-6 col-12 my-2">
                <div class="artical_content">
                    <div>
                        <img src="../images/martha-dominguez-de-gouveia-k.png" alt="">
                    </div>
                    <div class="ms-5 me-3">
                        <h3 class="mt-2">بدء التجارب على لقاح جديد لكورونا يعمل بتقنية الحقن النفاث</h3>
                        <p>
                            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
                            بالتصاميم سواء كانت
                        </p>
                        <a href=""><img src="../images/arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- end col-md-6 -->
            <div class="col-md-6 col-12 my-2">
                <div class="artical_content">
                    <div>
                        <img src="../images/martha-dominguez-de-gouveia-4.png" alt="">
                    </div>
                    <div class="ms-5 me-3">
                        <h3 class="mt-2">بدء التجارب على لقاح جديد لكورونا يعمل بتقنية الحقن النفاث</h3>
                        <p>
                            لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل ليتصور طريقه وضع النصوص
                            بالتصاميم سواء كانت
                        </p>
                        <a href=""><img src="../images/arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- end col-md-6 -->
        </div>
        <!-- end of articals -->
    </div>
    <!--end of container-fluid-->
</div>

@*// ************* Scripts *************** *@

@section Scripts{
    <script src="~/js/Shared/_LifOfCategories.js"></script>
    <script src="~/js/Shared/_ListOfServices.js"></script>
    <script src="~/culture/Shared/_ListOfCategoriesCulture.js"></script>
    <script src="~/culture/Shared/_ListOfServicesCulture.js"></script>

}

